.page-id-34455 .ingr-cont table th, 
.page-id-34455 .ingr-cont table td,
.page-id-34455 .ingr-cont .ingr-header, 
.page-id-34455 .ingr-cont .ingr-body {
padding: 0;
}


.page-id-34455 .page-w {
background-color: #ffffff!important;
}

.page-id-34455 .converter-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding: 14px 38px 16px;
}

.page-id-34455 .left-side {
width:50%;
max-width:480px;
padding: 0px 23px 0 19px
}
.page-id-34455 .left-side p {
color: #4A4A4A;	
font-family: Roboto, sans-serif;	
font-size: 16px;	
line-height: 22px;
}
.page-id-34455 .ingr-cont .ingr-header, 
.page-id-34455 .ingr-cont .ingr-body {
border:none;
}
.page-id-34455 .ingr-cont {
min-width: 50%;
max-width:415px;
margin:0 auto;
padding: 21px 20px 49px;
background: #ffffff url(https://dev.kookmutsjes.com/32002.png) no-repeat center 100%; 
/* background: #ffffff url(https://i.imgur.com/iP6gDzD.png) no-repeat center 100%; */
box-shadow: 0 2px 10px 1px rgba(216,237,236,0.40);
}
.page-id-34455 .ingr-header tr {
max-width: 375px;
margin: 0 auto;
}
.page-id-34455 .ingr-cont .ingr-header {
padding: 0 0 50px 0;
}
.page-id-34455 .ingr-cont select, .ingr-cont input {
border: 1px solid #2C8986;
border-radius: 0;
}
.ingr-cont select {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
background: url('https://i.imgur.com/8UpO2DF.png') no-repeat 99% center;
outline: 0;              
}
.page-id-34455 .ingr-body tr:nth-child(2n) {
height:20px;
}
.page-id-34455 .ingr-body tr:last-child {
display:none;
}
.page-id-34455 .ingr-body th {
border: 1px solid #2C8A85;
background-color: #2C8A85;
text-transform: uppercase;
text-align: center;

color: #DEEDED;	
font-family: Poppins, sans-serif;	
font-size: 12px;	
font-weight: bold;	
letter-spacing: 0.38px;	
line-height: 13px;
}
.page-id-34455 .ingr-body table td {          
width:80%
}
/* .ingr-cont select.change {
background: url(https://i.imgur.com/z9DI4eS.png) no-repeat 99% center;;
} */
/*select style*/ 
.page-id-34455 .ingr-cont .select2-container--default .select2-selection--single .select2-selection__placeholder {
color: #21212180;	
font-family: Poppins;	
font-size: 14px;	
letter-spacing: 0.58px;	
line-height: 28px;
}
.page-id-34455 .select2-container {
max-width: 100%;        
border-radius: 0;
border: 1px solid #2C8A85;
}
.page-id-34455 .ingr-cont .select2-container--default .select2-selection--single {
background-color: #fff  !important;
height: 30px!important;
}
.page-id-34455 .ingr-cont .select2-container--default .select2-selection--single .select2-selection__rendered {
height: 28px!important;
padding-left:30px!important; 
line-height: 32px !important;
text-transform: uppercase;
font-size:14px;
opacity: 1;	
color: #212121;	
font-family: Poppins;	
letter-spacing: 0.58px;	
}
.page-id-34455 .ingr-cont .select2-container--default .select2-selection--single .select2-selection__arrow {
height: 28px!important;
background-color: #fff  !important;
}
.page-id-34455 .ingr-cont .select2-container--default .select2-selection--single .select2-selection__arrow b {
border-color: #2C8A85 transparent transparent transparent;
border-width: 10px 10px 0 10px;
margin-left: -10px;
}
.page-id-34455 .ingr-cont .select2-container--open .select2-selection--single .select2-selection__arrow b {
border-color: transparent transparent #2C8A85 transparent;
border-width:  0 10px 10px 10px;
margin-left: -10px;
}
.page-id-34455 .select2-results {
border: 1px solid #2C8986;	
background-color: #FFFFFF;	
box-shadow: 0 7px 10px 0 rgba(44,137,134,0.1);
} 
.page-id-34455 .select2-results__options li.select2-results__option {
border: none;
opacity: 0.5;	
color: #212121;	
font-family: Poppins;	
font-size: 14px;	
letter-spacing: 0.58px;	
line-height: 21px;
text-transform:uppercase;
transition: all .3s ease;
} 
.page-id-34455 .select2-container--default .select2-results__option--highlighted[aria-selected] {
font-family: Poppins;	
font-size: 14px;	
letter-spacing: 0.58px;	
line-height: 21px;
border:none;
background-color: #ffffff;
color: #2C8986;
}
.page-id-34455 .select2-container--default .select2-results__option[aria-selected=true] {
border:none;
background-color: #ffffff;
color: #2C8986;
opacity: 1;
}
.page-id-34455  .select2-container--open .select2-dropdown--below {
margin: -1px 0 0 -2px;
border-top: 0 !important;
}
.page-id-34455 .select2-results {
width: calc(100% + 2px);
border-top: none;
}

/*end select*/

@media only screen and (max-width: 767px) {
.page-id-34455 .converter-container {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}

.page-id-34455 .left-side {
width: 100%;
max-width: 100%;
padding: 0 0 30px;
}

.page-id-34455 .ingr-cont {
min-width: auto;
max-width: 100%;
width: 100%;
}

.page-id-34455 .ingr-body table tr th {
max-width: 30%;
min-width: 30%;
display: inline-block;
}

.page-id-34455 .ingr-body table td {
width: 70%;
display: inline-block;
}

.page-id-34455 .ingr-body table tr th {
margin-top: 0;
padding: 9px;
}
}

@media only screen and (max-width : 576px) {
.page-id-34455 .page-w .page-content {
padding: 0;
}

.converter-container {
padding: 0;
}

.page-id-34455 .ingr-body table td {
width: 100%;
}


.page-id-34455 .ingr-cont table th {
padding: 6px;
}

.page-id-34455 .ingr-cont .select2-container--default .select2-selection--single .select2-selection__rendered {
padding-left: 5px !important;
}

.page-id-34455 .ingr-body table tr th {
max-width: 50%;
min-width: 50%;
}

.page-id-34455 .ingr-body table td {
width: 50%;
}
}


