.page-id-37196 .top-bar-w,
.page-id-35184 .top-bar-w,
.page-id-35182 .top-bar-w,
.page-id-35209 .top-bar-w,
.page-id-35228 .top-bar-w,
.page-id-34822 .page-title,
.saved-collection .archive-item-content-text {
display: none;
}
.page-id-37196 .page-w,
.page-id-35184 .page-w,
.page-id-35182 .page-w,
.page-id-35209 .page-w,
.page-id-35228 .page-w 
{
background: #F7F6F4 !important;
border-top: 1px solid #ededed;
}
.loginbox .wppb-success{
padding: 35px !important;
color: #555555 !important;
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
margin-top: 30px !important;
font-weight: normal;
}
.regbox .wpb_content_element .wpb_wrapper {
width: 100% !important;
}
#wppb_general_top_error_message, .wppb-error, .wppb-warning {
padding: 10px 74px 10px 74px!important;
margin: 0 auto 0px!important;
background: transparent!important;
text-align: center;
color: #ff4d4d !important;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 15px;
border:none !important;
}
.loginbox img {
max-width: 145px !important;
min-width: 145px;
margin: 0px auto;
display: block;
padding: 10px 0px 0px 0px;
}
.user-panel-heading{
margin-bottom: 0px;
text-transform: uppercase;
font-size: 30px !important;
letter-spacing: 1px !important;
}
.page-id-37196 #wppb-register-user ul .wppb-form-field .custom_field_select2 {
border: 1px solid #a6d9cc !important;
}
.page-id-37196 #wppb-register-user ul .wppb-form-field .custom_field_select2:focus {
outline: none;
}
.page-id-37196 .loginbox p.alert{
padding: 30px !important;
background: #fff !important;
max-width: 100%;
margin: 35px auto !important;
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
text-align: center;
border: none !important;
font-size: 18px;
letter-spacing: 0.8px;
}
.loginbox h3{
text-align: center;
font-size: 16px;
margin: 0px 0px 10px 0px;
color: #777777;
}
.loginbox #loginform, #wppb-recover-password{
padding: 30px;
text-align: left;
background: #fff;
max-width: 80%;
margin: 12px auto;
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.wppb-register-user .wppb-field-error, .wppb-edit-user .wppb-field-error, #wppb-recover-password .wppb-field-error {
background-color: transparent!important;
border:1px solid #ff4d4d !important;
}
.wppb-field-error img {
display: none;
}
.wppb-form-field > span.wppb-form-error {
display:none;
}
#wppb-register-user{
padding: 10px 30px 20px 30px;
text-align: left;
background: #fff;
max-width: 85%;
margin: 35px auto;
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.page-id-35228 .loginbox .wpb_content_element{
padding: 10px 30px 10px 30px;
text-align: left;
background: #fff;
max-width: 85%;
margin: 35px auto;
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.page-id-35228 .loginbox .wpb_content_element a{
overflow: hidden;
display: block;
width: 100%;
background: #37AEA8;
max-width: 95px;
color: #fff;
margin: 30px auto;
padding: 4px 10px 9px 10px;
font-style: normal;
border-radius: 5px;
transition: all 0.5s;
}
.login-submit, #wppb-recover-password-container .wppb-username-email{
padding-bottom: 0px !important;
}
.loginbox #loginform label {
color: #89908e;
}
.loginbox a {
text-align: center;
display: block;
font-style: italic;
color: #2B8985;
text-decoration: none;
}
#wppb-register-user input,
#wppb-register-user .select2-selection,
#wppb-register-user textarea {
border: 1px solid #a6d9cc !important;
transition: all 0.5s;
}
.loginbox #loginform input {
border-radius: 5px;
text-align: left;
border: 1px solid #a6d9cc !important;
transition: all 0.5s;
}
.loginbox #loginform input:active, .loginbox #loginform input:focus, #wppb-register-user input:focus,
#wppb-register-user .select2-selection:focus,
#wppb-register-user textarea:focus, #wppb-recover-password input:focus{
border: 1px solid #37AEA8 !important;
transition: all 0.5s;
}
.loginbox #loginform #wppb-submit,
.loginbox #wppb-register-user #register{
background: #37AEA8;
border: none !important;
padding: 15px 45px 18px 45px;
color: #fff;
letter-spacing: 0.5px;
line-height: 10px;
text-transform: uppercase;
transition: all 0.5s;
}
.loginbox #wppb-recover-password-button {
background: #37AEA8;
border: none !important;
padding: 17px 45px 18px 45px;
color: #fff;
letter-spacing: 0.5px;
line-height: 10px;
text-transform: uppercase;
transition: all 0.5s;
font-size: 16px;
width:100%;
}
#wppb-recover-password p {
font-size: 16px;
line-height: 24px;
text-align: left;
color: #777777;
margin-bottom: 0px
}
.page-id-35228 .wppb-success,
.page-id-35228 .error {
display: none;
}
.loginbox h2{
text-align: center;
font-size: 20px;
color: #444444;
letter-spacing: 0.8px;
line-height: 28px;
}
.loginbox #loginform #wppb-submit:hover,
.loginbox #wppb-register-user #register:hover,
.loginbox #wppb-recover-password-button:hover, .page-id-35228 .loginbox .wpb_content_element a:hover{
background: #319b96;
}
.oneall_social_login {
text-align: center!important;
height: 72px!important;
overflow: hidden!important;
max-width: 220px;
min-width: 220px;
margin: 0px auto;
}
.oneall_social_login iframe{
width: 215px;
height: 75px;
}
.loginbox .wppb-error {
margin-bottom: -20px;
text-align: center;
border: none;
background: transparent;
color: #ff6666 !important;
font-weight: bold;
letter-spacing: 1px;
font-family: "NewsCycle-Regular";
}
.page-id-35209 #pass-strength-result {
margin: 0px auto !important;
display: block;
max-width: 100%;
overflow: hidden;
text-align: center;
float: none;
border-radius: 100px;
}
#pass-strength-result {
margin: 13px 5px 5px 0%!important;
border: none !important;
line-height: 22px !important;
}
.loginbox .wppb-error a {
display: none;
}
.loginbox #wppb-register-user ul li .select2 {
width: 100% !important;
overflow: hidden;
padding-top: 0px;
}
.loginbox #wppb-register-user ul li .select2-container--default .select2-selection--single .select2-selection__rendered {
line-height: 43px!important;
}
.loginbox #wppb-register-user ul li .select2-container--default .select2-selection--single .select2-selection__arrow {
top: 0px !important;
}
input#send_credentials_via_email {
float: left;
width: 15px !important;
margin-right: 5px;
margin-top: 4px;
}
.wpua-edit-container h3,
#wpua-undo-button-existing,
#wpua-thumbnail-existing,
#wpua-thumbnail-existing .description,
#wpua-preview-existing .description,
.updated,
#wpua-remove-button-existing,
#wpua-upload-messages-existing,
.submit #submit,
#wpua-add-existing {
display: none!important;
}
#wpua-preview, #wpua-preview-existing {
margin-right: 0px!important;
}
#wpua-preview img, #wpua-thumbnail img, #wpua-preview-existing img, #wpua-thumbnail-existing img {
max-height: 180px!important;
min-height: 180px!important;
max-width: 180px!important;
min-width: 180px!important;
border: none!important;
margin: -8px auto;
background: #fff;
}
.submit #submit{
width: 50%;
background: #a6d9cc;
border: none;
padding: 5px;
border-radius: 100px;
color: #fff;
margin-top: 13px;
float: right;
}
#wpua-preview-existing{
width:100%;
}
#wpua-add-existing{
width: 41%;
background: #a6d9cc;
border: none;
padding: 5px;
border-radius: 100px;
color: #fff;
position: absolute;
top: 5.8%;
left: 7%;
}
#wpua-upload-button-existing{
position: absolute;
top: 5%;
width: 85%;
}
#wpua-upload-button-existing #wpua-file-existing:before{
content: "Upload Image";
position: absolute;
background: #82c9b8;
padding: 6px;
font-size: 14px;
border-radius: 3px;
margin-top: -3px;
color: #fff;

margin-left: -3px;
}
#wpua-upload-existing{
background: #CC202D;
border: none;
padding: 5px;
width: 70%;
margin: 0px auto;
display: block;
color: #fff;
border-radius: 100px;
}
#wpua-upload-button-existing #wpua-file-existing{
max-width: 70%;
}
#wpua-add-existing:focus, #wpua-upload-button-existing #wpua-file-existing:focus, #wpua-upload-existing:focus, .search-bar input:focus{
outline:none;
}
#wppb-recover-password input{
border: 1px solid #a6d9cc !important;
}
#wppb_form_general_message{
font-size: 18px!important;
line-height: 28px!important;
color: #6f7675 !important;
padding: 0px !important;
text-align: center!important;
}


/*media Query */
@media screen and (max-width: 1024px) {
.wppb-user-forms ul li {
padding-bottom: 0px !important;
}
}

@media screen and (max-width: 768px) {
.wppb-user-forms ul li {
padding-bottom: 0px !important;
}
}

@media screen and (max-width: 767px) {
.wppb-user-forms ul li {
padding-bottom: 0px !important;
}
}

@media screen and (max-width: 320px) {
.loginbox .wpb_content_element .wpb_wrapper {
padding: 0px 20px 25px 20px!important;
}
#wppb-recover-password p {
font-size: 18px;
line-height: 24px;
}
}