/* Setup Container */

.removepadding {
border: 10px solid #deeae7;
padding: 10px;
background: #fff;
}
.removepaddings {
padding-left: 0px !important;
padding-right: 0px !important;
}
.tab-contents {
padding: 0px;
background: #F2F2F2;
}
.profile-body {
background: #F2F2F2;
padding-bottom: 30px;
}
.myprofile {
background: #F2F2F2;
padding: 10px;
}
.profile-body-top {
background: #fff;
padding: 10px;
margin: 20px 0px 20px -14px;
}

/* Banner In profile */

.myprofile .banner {
height: 300px;
background: url(/wp-content/uploads/2019/10/banner.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
}
.myprofile .banner .remainder {
float: right;
margin: 11% 1% 0% 0%;
}
.myprofile .banner a {
font-size: 20px;
color: #888686;
background: #fff;
padding: 8px 24px 8px 25px;
border-radius: 100px;
border: 3px solid #f2df60;
letter-spacing: 0.5px;
}
.myprofile .banner a i {
color: #5a5858;
font-size: 20px;
padding-right: 0px;
}
.remainder ul li {
list-style-type: none;
}
.remainder a {
position: relative;
}
i.notify-count {
font-size: 15px !important;
font-weight: bold;
line-height: normal;
display: none;
font-style: normal;
overflow: hidden;
margin: 0px 0px 0px -5px;
}
i.notify-count.unread {
display: inline-block;
}
.myprofile .banner .remainder>ul>li {
position: relative;
float: right;
}
.notification-popup {
position: fixed;
background-color: rgba(0, 0, 0, 0.7);
width: 100%;
height: 100%;
top: 0px;
left: 0px;
z-index: 99999;
display: none;
}
.notification-popup.active {
display: block;
}
.notification-list {
position: relative;
width: 100%;
border-top: none;
border-bottom: none;
display: block;
margin: 0px auto 0px auto;
background: #ffffff;
height: 400px;
overflow-y: auto;
padding: 0px 10px 0px 0px;
}
.notification-list ul li a {
border-radius: 0 !important;
font-size: 15px !important;
display: block;
text-align: left;
color: #999999;
letter-spacing: 0.5px;
}
.notification-list ul li a:before {
font-family: "fontawesome";
font-weight: 500;
content: "\f0f3";
font-size: 13px;
padding-right: 5px;
color: #C1D7D2;
}
.notification-popup .close {
font-size: 18px;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: none;
opacity: 1;
z-index: 9999;
}
.notification-list ul li {
list-style: none;
border-bottom: 1px solid #ededed;
padding: 6px 10px 8px 0px;
}
i.notification-status {
width: 8px;
height: 8px;
display: inline-block;
border-radius: 50px;
float: right;
margin-top: 12px;
position: relative;
top: -4px;
left: 5px;
}
i.notification-status.unread {
background-color: #ff8566;
border: 1px solid #ff8566;
}
i.notification-status.read {
background-color: #C1D7D2;
border: 1px solid #C1D7D2;
}

/* Scrollbar */
.notification-list::-webkit-scrollbar-track{
padding: 5px;
background-color: #d8f3f1;
}
.notification-list::-webkit-scrollbar{
width: 7px;
}
.notification-list::-webkit-scrollbar-thumb{
background-color: #9EC7BD;
}
#week-menu-popup .fav-group-list.active ul::-webkit-scrollbar-track,
.fav-group-post-list ul::-webkit-scrollbar-track,
#inbox .user-chat-html::-webkit-scrollbar-track {
padding: 2px 0;
background-color: #9EC7BD;
}
#week-menu-popup .fav-group-list.active ul::-webkit-scrollbar,
.fav-group-post-list ul::-webkit-scrollbar,
#inbox .user-chat-html::-webkit-scrollbar {
width: 5px;
}
#week-menu-popup .fav-group-list.active ul::-webkit-scrollbar-thumb,
.fav-group-post-list ul::-webkit-scrollbar-thumb,
#inbox .user-chat-html::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #cce5e1;
}
.weekname ul::-webkit-scrollbar-track,
.weekname ul::-webkit-scrollbar-track {
padding: 2px 0;
background-color: #f3f9f8;
}
.weekname ul::-webkit-scrollbar,
.weekname ul::-webkit-scrollbar {
width: 5px;
}
.weekname ul::-webkit-scrollbar-thumb,
.weekname ul::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #cce5e1;
}

/* Profile Image Section */

.follwers ul {
overflow: hidden;
justify-content: center;
display: flex;
}
.follwers ul li {
list-style: none;
float: left;
margin-right: 0px;
width: 100px;
text-align: center;
}
.follwers ul li p {
color: #888686;
}
.follwers ul li a {
text-decoration: none;
font-weight: 600;
color: #888686;
}
.count-flowr li {
background: #fff;
margin-left: 0px;
margin-right: 5px !important;
padding: 10px;
}
.count-flowr li:last-child {
margin-right: 0px !important;
}
.profile-img {
max-width: 100%;
min-width: 100%;
margin: -108px auto;
overflow: hidden;
display: block;
margin-bottom: 0px;
}
.wpua-edit {
max-width: 160px !important;
min-width: 160px!important;
margin: 15px auto!important;
}
.wpua-edit-container {
height: 220px;
}
.avatar_container ul {
justify-content: center;
display: flex;
margin-top: 10px;
padding-left: 14px;
}
.avatar_container ul li {
list-style: none;
float: left;
margin-left: 0px;
margin-right: 3px;
}
.avatar_container .fa-edit {
background: #7DB5A7;
padding: 8px;
border-radius: 100px;
color: #fff;
cursor: pointer;
}
.ci_controls .fa-save {
float: right;
color: #2eb82e !important;
}
.ci_controls .fa-times {
float: right;
color: #ff3300 !important;
}
.avatar_container .fa-trash {
background: #ffb399;
padding: 8px 9px 8px 9px;
border-radius: 100px;
color: #ff471a;
display: none;
}
.avatar_container .fa-undo {
background: #009900;
padding: 8px;
border-radius: 100px;
color: #fff;
}
.wpua-edit input {
margin: 0px auto;
display: block;
width: 100%;
margin-bottom: 2px;
background: #639c8e;
border: none;
padding: 6px 30px 10px 30px;
border-radius: 100px;
color: #fff;
letter-spacing: 1px;
-webkit-tap-highlight-color: transparent;
vertical-align: middle;
-webkit-transition: .3s ease-out;
transition: .3s ease-out;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -3px rgba(0, 0, 0, 0.2);
}
#ci-modal,
.ci_controls {
background-color: #C1D7D2!important;
}
.ci_img_container {
border: 1px dashed #dddddd!important;
}
.wpua-edit input:hover {
background: #83afa4;
}
.wpua-edit input:focus {
outline: none;
}
.delete_avatar.icon-trash {
text-align: center!important;
display: block!important;
left: 85px!important;
bottom: -40px!important;
width: 30px;
background: #ff3300 !important;
font-size: 13px !important;
border-radius: 100px;
height: 30px;
line-height: 25px !important;
color: #ffebe6!important;
}
.icon-edit {
text-align: center!important;
display: block!important;
left: 48px!important;
top: 160px!important;
width: 30px;
background: #b1cdc6 !important;
font-size: 13px !important;
border-radius: 100px;
height: 30px;
line-height: 25px !important;
color: #e0ebe8 !important;
}
.reset_avatar.icon-undo {
color: #B1CDC6!important;
}
.profile-img img {
max-width: 150px;
min-width: 150px;
height: 150px;
object-fit: cover;
border-radius: 100px;
margin-left: 8px;
box-shadow: 0 0 5px rgba(0, 0, 0, .1);
padding: 5px;
background: #ffffff;
}
.user-info-part {
background: #deeae7;
padding: 10px;
margin-right: 0px;
}
.prfile-name h2 {
text-align: center;
color: #353434;
font-size: 20px;
letter-spacing: 1px;
text-decoration: none;
margin-top: 0px;
}
.prfile-name p {
color: #89908e;
text-align: center;
letter-spacing: 1px;
padding-bottom: 0px;
margin-bottom: 0px;
font-style: italic;
font-size: 14px;
}

/* Update profile */

.profile-sidebar h2 {
color: #888686;
font-size: 16px;
margin: 0px;
letter-spacing: 1px;
font-weight: 500;
padding: 10px 10px 10px 12px;
background-color: #F9F9F9;
text-transform: uppercase;
border-bottom: 1px solid #E0E0E0;
}
.feed ul li {
list-style: none;
background: #fff;
padding: 0px 0px 12px 0px;
}
.feed ul li a i {
color: #7db5a7;
}
.feed ul li a span {
width: 20px;
display: block;
float: left;
overflow: hidden;
height: 24px;
}
.feed ul li a img,
.myfriedns ul li a img {
max-width: 25px;
min-width: 25px;
height: 25px;
border-radius: 100px;
}
.feed ul li a,
.myfriedns ul li a {
text-decoration: none;
color: #a7a5a5;
line-height: 18px;
font-size:16px;
}
.myfriedns ul li {
list-style: none;
margin-bottom: 0px;
padding: 10px;
padding-left: 0px;
}
.inbox {
background: #DEEAE7;
overflow: hidden;
padding: 0px 0px 15px 0px;
}
.inbox h2 {
border-bottom: 1px solid #b1cdc6 !important;
background: #c1d7d2 !important;
margin-bottom: 15px;
color: #fff;
}
.inbox ul li {
list-style: none;
background: #fff;
padding: 7px 10px 10px 10px;
margin-bottom: 10px;
border-radius: 3px;
}
.inbox ul li a {
color: #adb2b1;
text-decoration: none;
font-size: 16px;
}
.inbox ul li a i {
color: #7db5a7;
display:none;
}
.feed,
.myfriedns,
.saved-side {
background: #fff;
padding: 0px 0px 15px 0px;
margin-bottom: 10px !important;
-webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
box-shadow: 0 0px 5px rgba(57,73,76,0.10);
}
.wppb-success {
padding: 15px 0px 0px 0px!important;
margin: 5px auto 0px!important;
background: #fff!important;
color: #248f24!important;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
border: none !important;
text-align: center;
}
#wppb-edit-user {
padding: 10px 20px 5px 20px;
}
.wppb-form-field label,
#wppb-login-wrap .login-username label,
#wppb-login-wrap .login-password label {
width: 100% !important;
color: #888686;
font-size: 16px;
}
.wppb-form-field input,
.wppb-form-field input[type="text"],
.wppb-form-field input[type="number"],
.wppb-form-field input[type="email"],
.wppb-form-field input[type="url"],
.wppb-form-field input[type="password"],
.wppb-form-field input[type="search"],
.wppb-form-field select,
.wppb-form-field textarea,
.wppb-checkboxes,
.wppb-radios,
#wppb-login-wrap .login-username input,
#wppb-login-wrap .login-password input {
width: 100%!important;
background: #eff5f4!important;
padding: 10px!important;
color: #a7a5a5!important;
font-size: 14px !important;
border: 1px solid #DEEAE7 !important;
letter-spacing: 1px;
}
.wppb-form-field input:focus,
.select2-container--default .select2-selection--single:focus,
.wppb-user-forms textarea:focus,
.loginbox input:focus,
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
outline: none;
box-shadow: none!important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
border: 1px solid #C9E8E0;
box-shadow: none;
}
.select2-search--dropdown:focus,
.select2-search--dropdown:active,
.loginbox #loginform #wppb-submit:active,
.loginbox #loginform #wppb-submit:focus,
.loginbox #wppb-recover-password-button:focus,
.select2-container--default .select2-selection--single .select2-selection__rendered:focus,
.select2-container--default .select2-selection--single .select2-selection__rendered:active {
outline: none;
border: none !important;
box-shadow: none!important;
}
#London .wppb-select2 span.select2-container {
clear: none;
width: 100% !important;
float: left;
overflow: hidden;
display: block;
margin-left: 0px;
color: #969c9b!important;
}
.select2-container--default .select2-selection--single {
border: none!important;
background: #F1F9F7!important;
height: 44px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
line-height: 42px!important;
padding-left: 15px!important;
color: #969c9b!important;
font-size: 18px;
letter-spacing: 1px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
border-color: #fff transparent transparent transparent;
border-width: 8px 8px 0 8px;
margin-left: -7px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
border-color: #fff transparent #fff transparent;
border-width: 8px 8px 0 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
height: 43px!important;
width: 43px!important;
background: #c9e8e0!important;
top: 0px !important;
}
.select2-dropdown {
border: 1px solid #ededed!important;
}
.wppb-form-field>span {
margin-left: 0%!important;
padding-top: 10px;
color: #adb2b1;
letter-spacing: 1px;
}
#edit_profile {
background: #9EC7BD !important;
border: none;
padding: 7px 20px 10px 20px;
border-radius: 100px;
color: #ffffff;
letter-spacing: 1px;
-webkit-tap-highlight-color: transparent;
vertical-align: middle;
-webkit-transition: .3s ease-out;
transition: .3s ease-out;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -3px rgba(0, 0, 0, 0.2);
}
#edit_profile:hover {
color: #ffffff;
background: #bedad3;
transition: .3s ease-out;
}
#edit_profile:focus {
outline: none;
}

/* Profile Menus */

.profile-menu {
background: #fff;
margin-top: 15px;
padding: 10px 0px 10px 10px;
}
.profile-menu .tab button {
width: 100%;
background: #fff;
border: none;
box-shadow: none;
font-size: 18px;
color: #888686;
text-align: left;
letter-spacing: 0.3px;
padding: 10px;
}
.profile-menu .tab button.active {
background: #deeae7;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
width: 290px;
}
.profile-menu .tab button:focus {
outline: none;
}
.profile-menu .tab button i {
color: #adb2b1;
}

/* Overall Design */

#Paris .row {
margin-right: 0px;
}
.saved-collection .image-fader {
display: none !important;
}
.wppb-description-delimiter{
width: 320px;
overflow: hidden;
height: 28px;
}
.profilerecipes li .slide-button-i i {
margin-top: 1px!important;
}
#inbox-person {
margin: 0px 15px 10px 7px;
border-bottom: 1px solid #ddd;
color: #888686;
font-size: 22px;
letter-spacing: 0.5px;
text-transform: capitalize;
line-height: 40px;
}
#inbox-person img {
max-width: 30px;
min-width: 30px;
height: 30px;
margin-top: -5px;
border-radius: 100px;
object-fit: cover;
}
.inbox-messaging .get-more button {
padding: 5px 30px 9px 30px;
box-shadow: none;
}
.inbox-messaging li {
list-style: none;
width: 100%;
overflow: hidden;
padding: 0px 20px 3px 0px;
position:relative;
}
.send-msg span.delete-this-chat-post {
position: absolute;
top: 8px;
right: 60px;
display: none;
}
.send-msg:hover span.delete-this-chat-post {
display: inline-block;
cursor: pointer;
}
.reply-msg span.delete-this-chat-post {
display:none;
}
.message-list-holder {
padding-right: 0px !important;
}
.inbox-messaging li p {
color: #a7a5a5;
font-size: 14px;
letter-spacing: 0.5px;
max-width: 92%;
min-width: 92%;
float: left;
background: #eff7f5;
padding: 10px 15px 15px 15px;
border-radius: 5px;
}
.inbox-messaging li.reply-msg p {
background: #f7f8f8;
float: right;
}
.inbox-messaging li img {
max-width: 30px;
min-width: 30px;
height: 30px;
object-fit: cover;
margin: 7px 0px 0px 6px;
border-radius: 100px;
}
.weekname ul li.addbutton:hover {
cursor: pointer;
}
.followingsection li:nth-child(2) {
display: none;
}

.followingsection li:nth-child(1) {
width: 70%;
}
div#week-menu-popup {
height: 100%;
position: fixed;
top: 0;
left: 0;
width: 100%;
background: rgba(30,30,30,0.9);
text-align: center;
padding-top: 2%;
z-index: 99999;
overflow: hidden;
display: none;
}
#week-menu-popup .fav-group-list {
background-color: #9ec7bd;
width: 400px;
margin: 0 auto;
padding: 15px 0 0 0;
opacity: 0;
transform: scale(1.3);
transition: all 0.3s ease-in-out;
}
#week-menu-popup .fav-group-list ul li {
list-style-type: none;
}
#week-menu-popup .fav-group-list ul li label {
font-size: 20px;
letter-spacing: 0.5px;
font-weight: bold;
padding: 7px;
background-color: #ffffff;
display: inline-block;
width: 370px;
margin: 2px 0;
}
#week-menu-popup .fav-group-list ul li label:hover {
cursor: pointer;
}
div#week-menu-popup.active {
display: block;
}
#week-menu-popup .fav-group-list.active {
opacity: 1;
transform: scale(1);
}
#week-menu-popup .fav-group-list.active ul {
margin-bottom: 15px;
}
.fav-group-list button#edit_profile {
margin-bottom: 15px;
}
.weekside {
padding: 0px;
background: #fff;
}
.weekside h2 {
background: #b4d0cf;
padding: 12px;
font-family: "Bison Bold";
color: #fff;
}
.weekside ul {
padding: 0px 0px 12px 0px;
max-width: 100%;
min-width: 100%;
display: block;
overflow: hidden;
}
.weekside ul li {
padding-bottom: 0px;
display: block;
list-style: none;
float: left;
}
.weekside ul li p {
margin-bottom: 0px;
padding-left: 10px;
font-size: 14px;
color: #a7a5a5;
}
.weekside ul li p b {
color: #8c8c8c;
letter-spacing: 1px;
font-size: 15px;
}
#inbox .user-chat-html {
height: 500px;
overflow: auto;
}
.user-chat-html .group-sub-menu{
right: 16px !important;
border-radius: 1px;
height: 23px;
background-color: #ffffff !important;
margin-top: -5px;
}
#inbox .weekside h2 {
background: #B4D0CF !important;
color: #fff;
font-size: 20px;
}
.user_list_drop_down.active ul li:before{
display:none;
}
.send-msg i{
color:#cccccc;
}
.weekside ul li img {
max-width: 40px;
min-width: 40px;
height: 40px;
border-radius: 100px;
border: 3px solid #B4D0CF;
}
.reply-msg {
padding-right: 13px !important;
}
.send-msg {
padding-right: 5px !important;
}
.send-msg p {
margin-left: 8px!important;
}
.recipe-new-post,
.story-new-post {
height: 100%;
}

.boxofpost {
background: #F3F9F8;
margin-top: 14px;
}
.page-template-page-myprofile form#myfavform {
height: 540px !important;
}
.myrepost .ppost {
box-shadow: 0px 0px 5px 0px #ddd;
background: #fff;
padding: 5px;
margin-bottom: 28px;
}
.myrepost img {
width: 100%;
height: 215px;
object-fit: cover;
}
.myrepost a {
text-align: center;
display: block;
text-decoration: none;
color: #888686;
letter-spacing: 0.5px;
height: 55px;
overflow: hidden;
padding-top: 12px;
}
.author .search-filter-bar {
display: none;
}
.recipe-new-post-title p,
.story-new-post-title p {
font-size: 20px;
color: #888686;
padding: 10px;
letter-spacing: 1px;
text-transform: uppercase;
}
.biofor {
background: #ffffff;
padding: 0px 20px 10px 20px;
}
.biofor h2 {
font-size: 24px;
padding-top: 12px;
color: #777777;
letter-spacing: 1px;
}
.biofor p {
border: 1px solid #cce2dc;
padding: 10px;
letter-spacing: 0.5px;
color: #a09f9f;
font-size: 16px;
line-height: 25px;
}
.author #week .col-md-12,
.author #myrecipes .col-md-12,
.author #myfavorite .col-md-12 {
border: 15px solid #deeae7;
margin-left: 15px;
max-width: 96.7%;
margin-top: 20px;
}
.morebuttons {
background: #d9e9e5;
width: 100px;
display: block;
margin: 0px auto;
text-align: center;
padding: 8px;
border-radius: 100px;
color: #969c9b;
letter-spacing: 1px;
margin-top: 20px;
margin-bottom: 0px;
text-decoration: none !important;
transition: .3s ease-out;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -3px rgba(0, 0, 0, 0.2);
}
.morebuttons:hover {
color: #ffffff;
background: #bedad3;
transition: .3s ease-out;
}
.story-new-post .dpe-flexible-posts li a img,
.recipe-new-post .dpe-flexible-posts li a img {
max-width: 220px;
min-width: 220px;
height: 150px;
object-fit: cover;
}
.story-new-post .dpe-flexible-posts li a .title,
.recipe-new-post .dpe-flexible-posts li a .title {
position: absolute;
width: 85%;
text-align: center;
top: 60px;
color: #fff;
font-size: 18px;
letter-spacing: 1px;
overflow: hidden;
margin: 0px auto;
left: 29px;
right: 50px;
padding: 4px;
}
.story-new-post .dpe-flexible-posts li,
.recipe-new-post .dpe-flexible-posts li {
list-style: none;
}
.story-new-post .dpe-flexible-posts li:before,
.recipe-new-post .dpe-flexible-posts li:before {
opacity: 0.7;
content: "";
position: absolute;
right: -2px;
top: 0;
left: 15px;
bottom: 0;
background: rgba(0, 0, 0, .5);
}
.siderow {
padding-right: 0px;
}
.saved-collection article {
max-width: 50%;
min-width: 50%;
float: left;
padding: 5px;
}
.saved-collection article .archive-item-content {
padding: 10px 10px 10px 10px;
}
.saved-collection .masonry-grid article .archive-item-i {
background: #fff;
border: 1px solid #ededed;
}
.saved-collection article .archive-item-content .metaul li a img {
border-radius: 100px;
margin: 0px 4px 2px 0px;
max-width: 20px;
height: 20px !important;
}
.saved-collection article .archive-item-content .metaul li .date-comment,
.saved-collection article .archive-item-content .metaul li .archive-item-comments {
display: none;
}
.savedres {
background: #F3F9F8!important;
}
.deletepost {
text-align: right;
margin-right: 10px;
margin-top: -14px;
margin-bottom: -17px;
}
.deletepost a {
background: #ffffff;
padding: 2px 10px 4px 10px;
border-radius: 100px;
box-shadow: 0px 1px 3px 0px #dddddd;
}
.deletepost a i {
font-size: 16px;
color: #595959;
}
.saved-collection article .archive-item-content .metaul .author-name a {
border: none;
color: #b3b3b3;
padding-right: 0px;
font-size: 14px;
line-height: 10px;
font-family: inherit !important;
}
.saved-collection article .archive-item-media a {
max-height: 200px !important;
min-height: 200px!important;
}
.saved-collection .entry-title a {
color: #888686;
font-size: 18px;
text-transform: none;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
letter-spacing: 0.5px;
text-decoration: none;
}
.saved-collection .entry-title {
margin-top: 15px;
margin-bottom: 6px;
max-height: 26px;
min-height: 26px;
overflow: hidden;
}
.saved-collection .archive-item-views-count-likes a .slide-button-i .osetin-vote-count {
font-size: 10pt !important;
color: #888686!important;
font-weight: normal;
}
#delete-alert-model .modal-body{
padding: 30px;
font-size: 20px;
}
#delete-alert-model button{
background: #9EC7BD;
border: none;
font-size: 16px;
padding: 5px 15px 6px 15px;
}
#delete-alert-model button:focus{
outline: none;
box-shadow: none;
}
.saved-collection .archive-item-views-count-likes {
padding-left: 16px;
}
.profilerecipes {
overflow: hidden;
}
.profilerecipes li {
list-style: none;
float: left;
}
.profilerecipes a .slide-button-label {
color: #888686;
padding-left: 12px;
}
.profilerecipes li a {
color: #888686;
text-decoration: none;
font-size: 14px;
letter-spacing: 0.5px;
}
#Tokyo .removepadding {
background: #F3F9F8;
}
.profilerecipes .osetin-vote-not-voted .slide-button-i i {
font-size: 9pt !important;
color: #888686;
margin-right: 0px;
width: 16px;
position: absolute;
margin-left: -5px;
margin-top: 2px !important;
}
.profilerecipes .osetin-vote-has-voted .slide-button-i i{
font-size: 9pt !important;
margin-right: 0px;
width: 16px;
position: absolute;
margin-left: -5px;
margin-top: 2px !important;
}
.profilerecipes li .archive-item-views-count-likes,
.profilerecipes li .archive-item-read-more-btn .read-more-link {
padding: 0px;
}
.profilerecipes li .archive-item-read-more-btn {
background: transparent !important;
}
.profilerecipes li:nth-child(1) {
background: #fff;
border: 1px solid #ededed;
border-radius: 100px;
max-width: 35%;
min-width: 35%;
text-align: center;
padding: 1px 8px 7px 8px;
font-size: 14px;
margin-right: 5px;
}
.profilerecipes li:nth-child(2) {
background: #fff;
border: 1px solid #ededed;
border-radius: 100px;
max-width: 63%;
min-width: 63%;
text-align: center;
padding: 4px 8px 6px 8px;
font-size: 14px;
}
.myrecipes {
max-width: 33.3%;
min-width: 33.3%;
float: left;
padding: 5px;
}
.myrecipes img {
max-width: 100%;
min-width: 100%;
height: 200px;
object-fit: cover;
}
#titlerecipe {
background: #EAF3EC;
width: 100%;
display: block;
padding: 10px;
text-decoration: none;
color: #888686;
font-size: 16px;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
#weektitle {
text-align: center;
font-size: 16px;
color: #888686;
font-weight: bold;
letter-spacing: 1px;
}
.weekname h1 {
background: #A4DCCE;
text-align: center;
padding: 5px 5px 7px 5px;
color: #fff;
font-size: 32px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
}
.weekname {
background: #F3F9F8;
}
.weekname ul {
overflow: hidden;
justify-content: center;
display: block;
padding-left: 10px;
height: 240px;
overflow-y: auto;
}
.weekname ul li {
list-style: none;
float: left;
max-width: 179px;
min-width: 179px;
margin: 0px 5px 10px 5px;
max-height: 212px;
min-height: 212px;
position: relative;
box-shadow: 0px 0px 5px 0px #ddd;
padding: 5px;
background: #fff;
}
.weekname ul li img {
height: 160px;
object-fit: cover;
width: 100%;
}
.weekname ul li p {
background: #fff;
padding: 18px 0px 5px 0px;
text-align: center;
font-size: 14px;
border-top: none;
word-wrap: break-word;
margin: 0px;
letter-spacing: 0.5px;
line-height: 16px;
color: #888888;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.weekname span.delete {
position: absolute;
right: 12px;
background-color: #fff;
width: 32px;
height: 32px;
margin-top: 3px;
border-radius: 16px;
padding: 8px;
top: 146px;
box-shadow: 0px 1px 3px 0px #dddddd;
}
.weekname span.delete i {
font-size: 16px !important;
margin-top: 0px !important;
}
.weekname ul li i {
text-align: center;
display: block;
font-size: 26px!important;
color: #595959;
margin-top: 56%!important;
}
.tablinks img {
max-width: 20px;
min-width: 20px;
margin-right: 5px;
margin-top: -8px;
}
.addbutton i {
margin-top: 38px !important;
color: #595959;
}
.weekname span.delete i:hover {
cursor: pointer;
color: #262626;
}
#week-menu-popup .fav-group-list.active ul,
.fav-group-post-list ul {
height: 470px;
overflow-y: auto;
}
.weekname ul li.addbutton {
background: #fff;
box-shadow: 0px 0px 5px 0px #ddd;
}
.single-steps .single-step-media li img {
max-width: 300px;
height: auto;
}
.fixed-header-w .fixed-top-menu-w ul {
margin-top: 17px;
}
.saved-collection ul {
padding: 0;
margin: 0;
}
.saved-collection>ul>li {
list-style-type: none;
width: 306px;
display: inline-block;
height: auto;
float: left;
padding: 5px 5px 15px 5px;
margin: 0 5px;
background-color: #fff;
border: 1px solid #e3e3e3;
}

.saved-collection>ul>li>a {
display: block;
text-decoration: none;
}
.saved-collection ul>li>a>.saved-posts>li {
width: 137px;
height: 137px;
background-color: #f8f8f8;
display: inline-block;
float: left;
margin: 5px;
}
ul.saved-posts:after {
content: '';
display: block;
clear: both;
}
.saved-collection ul>li>a>.saved-posts>li>img {
vertical-align: text-bottom;
}
.group-details .group-name h5 {
margin: 5px 0;
}
.fed_dashboard_item .masonry-grid .masonry-item {
display: inline-block;
width: 33.33%;
}
.fed_dashboard_item article header {
display: none;
}
a.archive-item-media-thumbnail.fader-activator {
width: 100%;
display: block;
}
.archive-item-author-meta ul:after {
content: '';
display: block;
clear: both;
}
.profile-favorite button {
margin: 0;
}
.archive-item-deep-meta:before {
content: " ";
display: table;
}
.fed_dashboard_items .saved-collection {
display: inline-block;
width: 70%;
float: left;
}
.fed_dashboard_item .right-block {
display: inline-block;
width: 28%;
}
.right-block button.btn.default-btn.new-collectikon-btn {
margin: 0 !important;
padding: 6px 5px 10px 5px!important;
background: #C1D7D2 !important;
}
.right-block .favorite-list {
padding-top: 20px;
}
.right-block .favorite-list ul {
padding: 0;
margin: 0 7px;
}
.right-block .favorite-list ul li {
list-style-type: none;
margin-bottom: 5px;
}
.favorite-list ul {
padding: 5px 8px 5px 12px;
}
.favorite-list ul li {
list-style: none;
border-left: 5px solid #DEEAE7;
border-bottom: 1px solid #ededed;
margin-bottom: 10px;
}
.favorite-list ul li a {
color: #ABA4A4!important;
padding: 5px 0px 5px 12px!important;
display: block!important;
background: transparent !important;
letter-spacing: 0.5px;
text-decoration: none;
}
ul.group-menu {
width: 12px;
height: 20px;
padding: 2px 12px 0px 0px !important;
margin: 0px;
display: block;
float: right;
position: relative;
}
ul.group-menu>li {
display: inline-block;
margin-bottom: 0px!important;
border: none !important;
}
ul.group-menu>li>a {
padding: 0px !important;
display: inline-block !important;
}
ul.group-menu ul.group-sub-menu {
position: absolute;
display: none;
width: 135px;
right: 0px;
background-color: #DEEAE7;
top: 26px;
z-index: 9999;
padding: 16px;
padding-top: 5px;
}
ul.group-menu ul.group-sub-menu>li {
margin: 0;
border: 0;
border-bottom: 1px dashed #999999;
padding: 3px 0px 3px 0px;
list-style:none;
}
ul.group-menu ul.group-sub-menu>li>a {
padding: 2px 0px 2px 0px !important;
color: #555555 !important;
font-size: 14px;
letter-spacing: 1px;
}
ul.group-menu ul.group-sub-menu>li>a i{
color: #555555 !important;
font-size: 14px!important;
padding: 2px 0px 0px 0px !important;
}
ul.group-menu>li:hover>.group-sub-menu {
display: block;
}
.fav span.text {
display: inline-block;
float: left;
width: 85%;
height: 100%;
text-align: left;
font-size: 14px;
}
.fav span.show-hide-show,
.fav span.show-hide-hide {
height: 25px;
width: 25px;
display: inline-block;
float: right;
}
.fav span:hover {
cursor: pointer;
}
.right-block input.new-collection-name {
width: 195px;
}
.right-block input.new-collection-name:focus{
border:1px solid #C1D7D2 !important;
}
.right-block .favorite-list ul li.active a {
color: #333;
}
.search-user-box .auto-complete button {
position: absolute;
right: 26px;
background: #B4D0CF;
border: none;
padding: 5px 12px 7px 12px;
color: #fff;
letter-spacing: 0.5px;
}
.search-user-box .auto-complete button:focus {
outline: none;
}
.search-user-box .auto-complete input {
letter-spacing: 0.5px;
padding: 4px 0px 6px 10px;
}
.search-user-box {
width: 92%;
margin: 10px auto;
margin-bottom: 10px;
}
div#message-box {
width: 100%;
height: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.5);
top: 0;
left: 0;
display: none;
z-index: 2;
}
div#success-message {
position: relative;
top: 50px;
width: 350px;
margin: 0 auto;
background-color: #fff;
}
div#err-message-box {
width: 100%;
height: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.5);
top: 0;
left: 0;
display: none;
z-index: 1;
}
div#err-message {
position: relative;
top: 50px;
width: 350px;
margin: 0 auto;
background-color: #fff;
color: red;
}
.search-filter-bar {
padding: 10px 0px 10px 0px;
}
.search-bar {
display: inline-block !important;
background-color: #F1FAF8!important;
border-radius: 50px!important;
padding: 2px 10px!important;
color: #9C9C9B!important;
font-size: 20px!important;
border: 1px solid #ededed!important;
}
.search-bar input {
border: none!important;
font-size: 15px!important;
background-color: #F1FAF8!important;
color: #a7a5a5!important;
letter-spacing: 0.5px;
width: auto;
height: 22px;
}
.search-bar .fa {
color: #cccccc;
padding-right: 5px;
font-size: 16px;
}
.search-bar input::placeholder {
color: #999999;
}
.filter .selected .fa-calendar {
color: #cccccc;
padding-right: 0px;
font-size: 16px;
}
.filter {
background-color: #F1FAF8!important;
border-radius: 50px!important;
padding: 2px 10px!important;
color: #a7a5a5!important;
font-size: 20px!important;
border: 1px solid #ededed!important;
}
.filter.active {
border-radius: 15px 15px 0 0;
}
.filter .selected {
margin-right: 10px;
position: relative;
width: auto;
}
.filter .selected:after {
content: '';
display: block;
clear: both;
}
.filter .selected:hover {
cursor: pointer;
}
.filter-select {
width: 210px;
position: absolute;
background-color: #F1FAF8!important;
left: 0px;
top: 43px!important;
display: none;
border: 1px solid #ededed;
z-index: 9;
border-radius: 5px;
}
.filter-select select {
height: 0px;
visibility: hidden;
position: absolute;
}
.filter-select .option {
color: #999999!important;
letter-spacing: 0.5px;
font-size: 15px;
width: 90%!important;
margin: 0 auto;
padding: 2px 0;
border-bottom: 1px solid #ededed;
cursor: pointer;
}
#Paris .search-filter-bar {
display: table;
margin: 0 auto;
}
#saved-recipe-block .search-filter-bar {
display: table;
margin: 0 auto;
}
.filter-select .option:last-child {
border: none;
}
.search-filter-bar:after {
content: '';
display: block;
clear: both;
margin-bottom: 5px;
}
.search-filter-bar .search-bar,
.search-filter-bar .filter {
float: left !important;
margin-right: 10px!important;
height: 42px!important;
padding-left: 15px !important;
line-height: 30px;
width: auto;
position: relative;
border-radius: 5px !important;
}
.selected .selected-value {
display: inline-block;
color: #999999!important;
letter-spacing: 0.5px!important;
font-size: 16px;
}
.filter .selected:hover {
cursor: pointer;
}
.filter:hover .filter-select {
display: block;
}
.favorite-list ul li .fav i {
float: right;
padding: 0px;
color: #C1D7D2;
}
.favorite-list ul li .fav:after {
content: '';
display: block;
clear: both;
}
.extra {
margin-left: 0px;
border-color: #DEEAE7 !important;
padding: 5px 0px 5px 10px;
color: #a7a5a5;
letter-spacing: 0.5px;
}
.extra.active {
background: #DEEAE7;
margin-left: -36px;
}
.extra.active .fav {
padding-left: 36px;
}
.extra.active .fav .show-hide-show i {
border: none;
padding-top: 5px;
}
.saved-collection .no-recipe {
width: 100%;
text-align: center;
font-size: 20px;
padding: 28px;
text-transform: uppercase;
letter-spacing: 1px;
color: #959594;
}
.profile-sidebar .no-food-collection,
.myfriedns h4, .feed h4 {
width: 100%;
text-align: center;
font-size: 14px;
color: #999999;
letter-spacing: 0.5px;
font-style: italic;
padding: 0px;
margin: 0px 0px 10px 0px;
}
button[name=get_more_recipes] {
background: #d9e9e5;
border: none;
padding: 6px 25px 8px 25px;
border-radius: 100px;
color: #969c9b;
font-size: 16px;
letter-spacing: 0.5px;
text-decoration: none;
transition: .3s ease-out;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -3px rgba(0, 0, 0, 0.2);
}
#moregroup, .get-more button {
background: #9EC7BD;
border: none;
padding: 6px 15px 8px 15px;
border-radius: 100px;
color: #ffffff;
font-size: 14px;
letter-spacing: 0.5px;
text-decoration: none;
margin: 0px auto;
display: block;
transition: .3s ease-out;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -3px rgba(0, 0, 0, 0.2);
}
#moregroup:hover,
button[name=get_more_recipes]:hover,
.get-more button:hover {
color: #ffffff;
background: #bedad3;
transition: .3s ease-out;
}
button[name=get_more_recipes]:focus,
#moregroup:focus,
.get-more button:focus {
outline: none;
}
.new-collection {
margin: 10px 0px 15px 12px;
text-align: left;
}
.new-collection input {
height: 40px;
border: 1px solid #ededed;
float: left;
padding: 6px 10px 10px 10px;
font-size: 15px;
border-right: none;
color: #555555;
letter-spacing: 0.5px;
}
.new-collection input::placeholder {
color: #999999;
}
.new-collection button {
width: 64px;
font-weight: bold;
line-height: 22px;
background: #999999 !important;
font-size: 32px !important;
border-radius: 0px !important;
color: #fff;
padding: 6px 0px 10px 0px;
}
.new-collection button:hover {
color: #fff;
background:#888888;
}
.new-collection input:focus {
outline: none !important;
border: 1px solid #999999 !important;
}
.new-collection button:focus,
.popup-footer .collection-submit-button:focus{
outline: none !important;
box-shadow: none !important;
}
.popup-header h2 {
margin: 0;
padding: 15px 20px 15px 18px;
font-size: 24px;
text-align: left;
letter-spacing: 1px;
color: #ffffff!important;
background: #9EC7BD;
text-transform: uppercase;
}
div#err-message {
position: relative;
top: 50px;
width: 350px;
margin: 0 auto;
background-color: #fff;
}
#err-message .popup-body,
#success-message .popup-body {
padding: 20px;
text-align: center;
letter-spacing: 0.5px;
color: #333333;
}
div#err-message-box {
width: 100%;
height: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.5);
top: 0;
left: 0;
display: none;
z-index: 111111;
}
.close-popup {
display: inline;
position: absolute;
top: -12px;
right: -12px;
cursor: pointer;
background: #6dab9c;
padding: 1px 11px 8px 11px;
border-radius: 100px;
transition: all 0.3s ease-out;
}
.close-popup i {
color: #ffffff;
padding-top: 9px;
}
.add-favorites .new-collection .lds-ellipsis {
width: 100%!important;
left: 85px !important;
margin-top: -8px !important;
}
.get-more {
text-align: center;
margin: 8px;
}
div#message-box {
width: 100%;
height: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.5);
top: 0;
left: 0;
display: none;
z-index: 11111;
}
div#success-message {
position: relative;
top: 50px;
width: 350px;
margin: 0 auto;
background-color: #fff;
}
.popup-body .collection-items .new-collection input {
font-size: 14px !important;
width: 264px!important;
padding: 0px 5px 5px 10px;
font-style: italic;
}
.ingradient-profile img {
border-bottom: none;
width: 100%;
}
.ingradient-profile ul {
padding: 10px;
border-top: none;
}
.ingradient-profile ul li, .likedrecipes ul li{
border-bottom: 1px solid #dddddd;
line-height: 34px;
letter-spacing: 0.5px;
width: 100%;
list-style:none;
}
.ingradient-profile ul li.active span{
text-decoration: line-through;
}
.ingradient-profile ul li .ingr-name, .likedrecipes ul li .ingr-name{
border-left: 1px solid #dddddd;
padding-left: 10px;
overflow: hidden;
display: inline-block;
float: right;
width: 92%;
}
.weekside .ingradient-profile {
padding-top: 0px !important;
}
.page-template-page-myprofile div#dialogForm {
padding-bottom: 40%;
}
.author #myfavorite .saved-collection,
.author #myrecipes .saved-collection {
padding-top: 15px;
padding-bottom: 15px;
}
img.img-responsive.msg-img {
align-items: center;
text-align: center;
border-radius: 5px;
max-width: 60px;
max-height: 60px;
padding: 0px;
margin: 0px 0px 0px 5px;
object-fit: contain;
}
.message-list-holder .inbox-messaging {
height: 450px;
overflow: auto;
display: block;
}
.image-attachment .lds-ring div {
left: -8px;
top: -4px;
}
.sentmsg .lds-ring div {
left: -4px;
top: -4px;
}
.message-form-holder {
position: relative;
}
span.unread-message-notification {
background-color: #B4D0CF;
color: #fff;
padding: 0px 10px 2px 13px;
font-size: 12px;
border-radius: 100px;
text-transform: capitalize;
}
.message-form-holder input[name=text_message],
.message-form-holder input[name=text_message]:hover,
.message-form-holder input[name=text_message]:focus,
.auto-complete input[name=search_users],
.auto-complete input[name=search_users]:focus,
.auto-complete input[name=search_users]:hover {
padding: 3px 5px 7px 5px;
border-radius: 0px;
border: 1px solid #ededed;
outline: 0;
width: 100%;
color: #999999;
}
.chat-box-tools button,
.chat-box-tools button:focus {
padding: 5px 5px 5px 0;
border: none;
background-color: transparent;
outline: none;
color: #75958e;
}
.user_list_drop_down ul {
padding: 0;
background: #DEEAE7;
margin-top: 2px;
}
.user_list_drop_down ul li {
padding: 0px;
border: none;
width: 100%;
border-bottom: 1px dashed #b1cdc6;
cursor: pointer;
}
.user_list_drop_down ul li img {
max-width: 30px;
min-width: 30px;
height: 30px;
margin: 3px 0px 6px 10px;
}
.chat-date {
font-size: 11px !important;
}
.message_box input {
background: #EFF7F5!important;
border: none!important;
box-shadow: none!important;
padding: 20px!important;
border-radius: 100px!important;
}
.message_box {
margin-right: 15px;
margin-left: 5px;
}
.emojionearea .emojionearea-button {
right: 65px;
top: 7px;
}
.emojionearea.emojionearea-inline>.emojionearea-editor {
right: 88px;
top: 7px;
letter-spacing: 0.5px;
left: 20px;
}
.emojionearea.emojionearea-inline {
height: 50px;
border-radius: 100px;
}
.emojionearea.emojionearea-inline>.emojionearea-button {
top: 13px;
right: 60px;
}
.chat-box-tools {
display: inline-block;
position: absolute;
top: 1px;
right: 0;
padding-right: 24px;
}
.image-attachment {
display: inline-block;
}
.image-attachment input[name=chat_image_attachment] {
height: 0;
margin: 0px !important;
padding: 0px !important;
width: 0;
}
.user_list_drop_down ul li label {
font-size: 15px;
padding: 9px 10px 4px 7px;
cursor: pointer;
letter-spacing: 0.5px;
color: #888888;
}
.weekside ul li.chat-user-detail {
width: 64%;
height: 50px;
overflow: hidden;
cursor: pointer;
}
.lds-ring {
display: inline-block;
position: relative;
width: 10px;
height: 10px;
display: none;
float: right;
padding-top: 5px;
padding-left: 3px;
}
.lds-ring div {
box-sizing: border-box;
display: block;
position: absolute;
width: 15px;
height: 15px;
margin: 1px;
border: 1px solid #21453d;
border-radius: 50%;
animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
border-color: #21453d transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}
.inbox-messaging::-webkit-scrollbar {
width: 5px;
}
.inbox-messaging::-webkit-scrollbar-track {
background: #ffffff;
}
.inbox-messaging::-webkit-scrollbar-thumb {
background: #b1cdc6;
border-radius: 10px;
}
.emojionearea,
.emojionearea.form-control {
background-color: #ddeeea !important;
border: none!important;
box-shadow: none!important;
}
.followingsection {
overflow: hidden;
justify-content: center;
display: flex;
padding-bottom: 0px;
}
.followingsection li {
list-style: none;
float: left;
}
.following-error-message {
padding: 10px 0px 10px 0px!important;
color: #E60023 !important;
font-weight: 600;
letter-spacing: 1px;
font-size: 14px;
}
.author .follwers {
padding-top: 20px;
}
.author .follwers ul li p {
margin-bottom: 5px;
color: #777777;
letter-spacing: 0.5px;
}
.following-error-message a {
letter-spacing: 1px;
font-size: 14px;
}
.followingsection li button {
background: #ffffff;
border: none;
margin-right: 5px;
padding: 10px 20px 10px 20px;
border-radius: 15px;
font-weight: 600;
color: #89908e;
letter-spacing: 0.5px;
width: 100%;
}
.followingsection li button:focus {
outline: none;
}
.author .prfile-name p {
padding: 15px 0px 0px 0px;
font-style: italic;
margin-bottom: 0px;
}
.author .weekmenupage ul li {
max-width: 31.4% !important;
min-width: 31.4% !important;
background: #fff;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
margin-left: 0px;
margin-right: 15px;
margin-bottom: 15px;
transition: all 0.5s;
}
.author .weekmenupage ul li:hover {
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
transition: all 0.5s;
}
.author .profile-menu .tab button.active {
max-width: 310px;
min-width: 310px;
}
.author .weekmenupage ul {
overflow: hidden;
padding: 20px 0px 5px 5px;
margin-top: 0px;
}
.author .weekmenu-img img {
border: none;
}
.author .weekmenupage ul li a {
display: block;
}
.author .profile-img img {
margin: 15px auto;
display: block;
margin-bottom: 0px;
max-width: 150px !important;
min-width: 150px !important;
}
.authorrow {
margin-right: 0px;
margin-left: 0px;
}
.author .sidebarprofile {
background: #ffffff;
padding-left: 0px;
padding-right: 0px;
}
.author .user-info-part {
margin-right: 0px;
}
.author .weekmenupage ul li h2 {
border-bottom: 1px dashed #b1cdc6;
background: #ffffff;
border-top: none;
border-left: none;
border-right: none;
font-size: 30px !important;
color: #b1cdc6;
letter-spacing: 1px;
text-align: center;
}
.author .weekmenu-img img {
border: none;
background: #fff;
}
#week .col-md-12 {
padding-right: 0px !important;
}
.add-category-form {
display: none;
}
.active.add-category-form {
display: block;
}
.list-inside-form {
border: 1px solid #ddd;
border-top: 0;
padding: 10px;
display: none;
}
.list-inside-form.active {
border: none;
}
.list-inside-form.active {
display: block;
}
button.unfollow.active {
display: block;
}
button.follow,
button.unfollow {
display: none;
}
button.follow.active {
display: block;
}
.following-error-message {
display: none;
}
.followerstab ul li.active {
background: #b4d0cf !important;
margin-right: 10px;
padding: 5px 20px 6px 20px;
margin-bottom: 10px;
}
.followerstab ul li {
background: transparent;
margin-right: 10px;
padding: 5px 20px 6px 20px;
margin-bottom: 10px;
}
.followerstab ul li.active a {
font-family: "Bison Bold";
color: #ffffff;
font-size: 30px;
letter-spacing: 1px;
text-decoration: none;
}
.followerstab ul li a {
font-family: "Bison Bold";
color: #a09898;
font-size: 30px;
letter-spacing: 1px;
text-decoration: none;
}
#follower-tab,
#following-tab {
overflow: hidden;
margin-top: 20px;
padding-bottom: 10px;
}
#follower-tab .item,
#following-tab .item {
max-width: 160px;
float: left;
min-width: 160px;
border: 1px solid #ededed;
margin: 0px 9px 15px 10px;
height: 145px;
border-radius: 15px;
text-align: center;
}
#follower-tab .item img,
#following-tab .item img {
max-width: 60px;
min-width: 60px;
height: 60px;
border-radius: 100px;
border: 1px solid #B4D0CF;
padding: 2px;
margin: 15px auto;
display: block;
}
#follower-tab .item .author-title,
#following-tab .item .author-title {
text-align: center;
color: #888686;
font-size: 16px;
letter-spacing: 0.5px;
}
#follower-tab .item a,
#following-tab .item a {
text-decoration: none;
}
.res-count {
color: #a7a5a5;
font-size: 14px;
letter-spacing: 0.5px;
}
.najatsocial {
background: #eff7f5;
max-width: 100%;
margin: 25px 8px 8px 8px;
display: block;
padding: 10px;
}
.najatsocial ul li {
list-style: none;
padding: 7px 7px 10px 5px;
overflow: hidden;
}
.najatsocial ul li:hover {
background: #ffffff;
}
.najatsocial ul li img {
max-width: 20px;
min-width: 20px;
margin-right: 5px;
float: left;
padding-top: 4px;
}
.najatsocial ul li span {
color: #888686;
letter-spacing: 0.3px;
font-size: 16px;
overflow: hidden;
display: block;
float: left;
padding: 2px 0px 0px 5px;
}
.feed h2:before {
content: '';
background: url(/wp-content/uploads/2020/01/kookmutsjes-feed.png);
background-size: cover;
width: 15px;
height: 15px;
display: block;
float: left;
margin: 1px 4px 0px 0px;
}
.myfriedns h2:before {
content: '';
background: url(/wp-content/uploads/2020/01/kookmutsjes-followers.png);
background-size: cover;
width: 19px;
height: 19px;
display: block;
float: left;
margin: -1px 3px 0px 0px;
}
.weekside h2:before {
content: '';
background: url(/wp-content/uploads/2020/01/friends.png);
background-size: cover;
width: 22px;
height: 22px;
display: block;
float: left;
margin: 0px 5px 0px 0px;
}
.inbox h2:before {
content: '';
background: url(/wp-content/uploads/2020/03/email.png);
background-size: cover;
width: 17px;
height: 17px;
display: block;
float: left;
margin: 1px 4px 0px 0px;
}
.profile-sidebar .user-chat-html-inbox{
padding: 0px 10px 0px 10px;
}
.saved-side h2:before {
content: '';
background: url(/wp-content/uploads/2020/01/harvest.png);
background-size: cover;
width: 20px;
height: 20px;
display: block;
float: left;
margin: -2px 4px 0px 0px;
}
.user_list_drop_down {
display: none;
}
.user_list_drop_down.active {
display: block;
position: absolute;
width: 260px;
z-index: 999;
}
.feed ul,
.user-chat-html,
.myfriedns ul {
padding: 10px 10px 10px 13px;
}
.auto-complete input::placeholder {
color: #999999;
font-size: 14px;
}
.srpw-thumbnail {
width: 100%!important;
height: 160px!important;
object-fit: cover;
}
.srpw-modern-style .srpw-content {
bottom: 63px!important;
}
.page-template-page-myprofile  .srpw-modern-style .srpw-content .srpw-title {
text-align: center!important;
display: block!important;
border: none !important;
letter-spacing: 0.5px!important;
font-size: 14px !important;
font-weight: normal !important;
text-shadow: none;
}
.srpw-modern-style li {
padding-bottom: 0px !important;
height: 160px;
}
.srpw-modern-style .srpw-img::after {
opacity: .3!important;
}
.mobile-qa, .mobile-qas {
display: none;
}
#follower-tab .delete-btn {
position: absolute;
padding: 5px 10px;
}
#follower-tab .delete-btn:hover {
cursor: pointer;
}
#follower-tab .item>.group-menu,#following-tab .item>.group-menu {
display: none;
position: absolute;
margin-left: -15px;
margin-top: 5px;
}
.group-menu li a i{
color: #BCDCD5;
font-size: 22px;
}
#follower-tab .item:hover>.group-menu,#following-tab .item:hover>.group-menu {
display: block;
}
.ipad-profile, .mobile-profile-pic{
display:none;
}
#inbox .user-chat-html ul li:before{
display:none;
}
.weekside ul li:before{
content: '';
display: inline-block;
width: 15px;
height: 15px;
-moz-border-radius: 7.5px;
-webkit-border-radius: 7.5px;
border-radius: 7.5px;
background-color: #ffffff;
border: 1px solid #cccccc;
}
.ingradient-profile ul li.active:before {
content: "\f00c";
font-family: 'osfont';
border: none;
}
.user-chat-html ul.group-menu {
max-width: 15px;
min-width: 15px;
top: 5px;
position: relative;
overflow: visible;
}
.user-chat-html ul.group-menu li:hover .group-sub-menu {
display: block;
top: 0px;
padding: 0 16px;
}
.user-chat-html ul.group-menu ul.group-sub-menu>li{
border:none;
}
#follower-tab .group-sub-menu, #following-tab .group-sub-menu{
top: 42px;
left: 20px;
width: 148px;
padding: 3px 0px 5px 0px;
border-radius: 2px;
}
#follower-tab .group-sub-menu li, #following-tab .group-sub-menu li{
border-bottom:none;
}
.liked-items{
border-bottom: 1px solid #ededed;
padding: 5px 0px 5px 0px;
}
.likedrecipes ul li a{
color: #555555;
border-left: 1px solid #dddddd;
padding-left: 10px;
overflow: hidden;
display: inline-block;
float: right;
width: 92%;
}
.likedrecipes ul li:before{
content: '';
display: inline-block;
width: 15px;
height: 15px;
-moz-border-radius: 7.5px;
-webkit-border-radius: 7.5px;
border-radius: 7.5px;
background-color: #ffffff;
border: 1px solid #cccccc;
}
.download-link li:before{
display:none !important;
}
.download-link li a:before{
content: "\f019";
font-family: fontawesome;
padding-right: 5px;
}
.download-link li a{
color: #FF8566;
text-align: center;
padding-left: 14px;
}