@media screen and (max-width: 8000px)
{
	#responsive-menu-container #responsive-menu ul.responsive-menu-submenu {
	display: block;
	position: fixed;
	height: 100%;
	background-color: #349895;
	top: 0%;
	left: -100%;
	z-index: 9;
	transition: all 0.6s ease-in-out;
	}
	.active-submenu{
	left: 0 !important;
	}
	.back-sub-menu{
	display: block;
	text-align: right;
	font-weight: 900;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	} 
	#responsive-menu-container li .responsive-menu-submenu {
	border-top: none !important; 
	}
	#responsive-menu-container li.responsive-menu-item{
	border-bottom: none !important;
	}
	.responsive-menu-subarrow:before {
	content: "\f105";
	display: block;
	color: #ffffff;
	font-family: FontAwesome;
	}
	.responsive-menu-item a .responsive-menu-subarrow{
	color: transparent !important;
	border: none !important;
	}
}

@media screen and (max-width: 8000px)
{
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu {
    display: block;
    position: fixed;
    height: 100%;
    background-color: #349895;
    top: 0%;
    left: -100%;
    z-index: 9;
    transition: all 0.6s ease-in-out;
    }
    .active-submenu{
    left: 0 !important;
    }
    .back-sub-menu{
    display: block;
    text-align: right;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    } 
    #responsive-menu-container li .responsive-menu-submenu {
    border-top: none !important; 
    }
    #responsive-menu-container li.responsive-menu-item{
    border-bottom: none !important;
    }
    .responsive-menu-subarrow:before {
    content: "\f105";
    display: block;
    color: #ffffff;
    font-family: FontAwesome;
    }
    .responsive-menu-item a .responsive-menu-subarrow{
    color: transparent !important;
    border: none !important;
    }
    #webz-community-slider li a {
    display: block;
    width:100%;
    }
    #webz-community-slider li div.img {
    width: 100%;
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    #webz-community-slider .slider-extra h2{
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    white-space: nowrap;
    padding: 20px;
    background: linear-gradient(0deg,#123a38 0rem,rgba(43, 137, 133,0));
    padding-top: 10px;
    transition: all .5s !important;
    text-align:center;
    }
    .community-mobile-view .lSAction .lSPrev, .community-mobile-view .lSAction .lSNext {
    opacity: 1;
    width: 25px;
    height: 31px;
    margin-right: 5px;
    background: url(https://dev.kookmutsjes.com/wp-content/uploads/2020/02/kookmutsjes-left-arrow.png);
	margin-top: -20px;
    }
    .community-mobile-view .lSAction .lSNext {
    background: url(https://dev.kookmutsjes.com/wp-content/uploads/2020/02/kookmutsjes-right-arrow.png);
    }
    .community-mobile-view{
    display:none;
    }
    .community-desktop-view{
        display:none;
    }
    .userpostlist.desktop-view{
    display:inline-flex;
    }
    .userpostlist.mobile-view{
    display:none;
    }
	/*
    .wpua-edit input{
    	visibility: hidden;
    }
	*/
	.avatar_container ul{
		display:flex;
	}
}
@media screen and (min-width: 1400px) 
{
	#home-recipe-title:after {
	margin-left: 162px;
	}
	#go-comments a {
    margin-left: 41.6%;
	}
}
@media screen and (min-width: 1600px) 
{
	#home-recipe-title:after {
	margin-left: 255px;
	}
	#go-comments a {
    margin-left: 41.6%;
	}
}
@media screen and (min-width: 1680px) 
{
	#home-recipe-title:after {
	margin-left: 310px;
	}
	#go-comments a {
    margin-left: 37%;
	}
}
@media screen and (min-width: 1920px) 
{
	#home-recipe-title:after {
	margin-left: 423px;
	}
	#go-comments a {
    margin-left: 30.8%;
	}
}
@media (max-width: 768px)
{
	.home-mobile-view .lSAction .lSPrev, .home-mobile-view .lSAction .lSNext {
    margin-top: -40px;
	}
	.comments-title span {
    border: none;
	}
	.comment-list .reply, .children .reply {
    position: inherit;
	}
	.home-post ul li a img {
    max-height: 355px !important;
    min-height: 355px !important;
	}
	.weekmenu-img img {
	height: 250px !important;
	}
	.weekmenu-img {
	max-height: 250px;
	min-height: 250px;
	}
	.author .sidebarprofile {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
	}
	.author .user-info-part .ipad-view{
	justify-content: center;
    display: flex !important;
	}
	.author .najatsocial{
	display:none;
	}
	.author .profile-menu .tab button{
	max-width: 32%;
    min-width: 32%;
    text-align: center;
    padding: 15px 10px 15px 10px;
	}
	.author .weekmenupage ul li {
    margin-right: 10px;
	}
	.author #week .col-md-12, .author #myrecipes .col-md-12, .author #myfavorite .col-md-12 {
    border: 2px solid #deeae7;
	}
	.author .followingsection li:nth-child(1) {
    width: 25%;
	}
	.author .profile-menu .tab button.active {
    max-width: 33%;
    min-width: 33%;
	}
	.popular-box img {
    height: 365px;
	}
	.box1 {
    height: 365px;
	}
	.popular-box1 img, .popular-box2 img {
    height: 175px;
	}
	.popular-box1, .popular-box2{
    height: 175px;
	}
	.box1 h2 a, .popular-details-sm1 h2 a, .popular-details-sm2 h2 a {
    font-size: 28px;
	}
	.popular-box1 .popular-details-sm1 {
    bottom: 190px;
	}
	#go-comments a {
    margin-left: 38%;
	}
    .single-step-description-i {
    width: 100%!important;
    }
    .homemain {
    margin-top: 0px;
    }
    .usermenu li:before {
    top: 18px;
    }
    #responsive-menu-container {
    width: 40%!important;
    background: #ffffff!important;
    }
    #responsive-menu-container #responsive-menu-wrapper {
    padding: 50px 0px 0px 12px;
    background: #ffffff!important;
    }
    #responsive-menu-container #responsive-menu > li.responsive-menu-item:first-child > a {
    border-top: none!important;
    }
    .responsive-menu-button.is-active {
    margin-top: -52px !important;
    margin-left: -2px !important;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a {
    line-height: 44px!important;
    color: #5e5e5e !important;
    background-color: #ffffff !important;
    height: auto!important;
    text-transform: uppercase;
    font-size: 16px !important;
    border-bottom: 1px solid #5e5e5e!important;
    padding-left: 0px !important;
    width: 90%;
    margin: 0px auto;
    }
    button#responsive-menu-button {
    position: absolute!important;
    top: 46px !important;
    left: 13px!important;
    background: transparent !important;
    display: block !important;
    }
    .responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after {
    background-color: #5e5e5e !important;
    }
    .ipad-logo a img{
    max-width: 250px;
    min-width: 250px;
    padding: 8px 0px 0px 30px;
    float: left;
    }
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu {
    background-color: #ffffff!important;
    }
    .back-sub-menu a{
    font-weight: normal;
    }
    .active-submenu li a{
    padding-left: 5%!important;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
    height: 44px!important;
    line-height: 45px!important;
    background-color: #ffffff!important;
    }
    .responsive-menu-subarrow:before {
    color: #5e5e5e;
    text-align:right;
    }
    .ipad-flat-menu ul{
    overflow: hidden;
    }
    .ipad-flat-menu ul li{
    list-style: none;
    float: left;
    border-right: 1px solid #ededed;
    padding: 14px 45px 20px 45px;
    }
    .ipad-flat-menu ul li:first-child{
    border-left: 1px solid #ededed;
    }
    .ipad-flat-menu ul li a{
    color: #262626;
    }
    .main-search-form form .search-submit {
    background-color: #2B8985 !important;
    font-size: 16px;
    }
    .mobile-logo, .mobile-header-w .mobile-header .mobile-menu-toggler i{
    display:none !important;
    }
    .mobile-header-w .mobile-header .mobile-menu-search-toggler {
    font-size: 32px;
    padding-right: 40px;
    }
    .os-icon-thin-hamburger:before, .os-icon-thin-search:before {
    font-size: 30px;
    }
    .page-id-3300 .page-w.with-sidebar .page-content{
    padding-right: 15px!important;
    }
    .page-template-page-publish-recipe .frontend-publisher-w {
    padding: 0px 20px 25px 5px!important;
    }
    .page-template-page-publish-recipe .page-w .page-content {
    padding: 0px;
    }
    .trending-slider li {
    max-height: 320px;
    min-height: 320px;
    padding: 0px 10px 0px 10px !important;
    }
    .trending-slider li:nth-child(odd) .meta-trading {
    margin: 0px;
    }
    .trending-slider li a img{
    max-width: 100%!important;
    min-width: 100% !important;
    object-fit: cover !important;
    height: 220px !important;
    }
    .circle-visible .shape {
    width: 25px;
    height: 25px;
    }
    .circle-visible {
    padding-left: 15px;
    }
    .recipe-baking-mold .col-md-2{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    }
    .square-visible .shape {
    width: 50px;
    height: 25px;
    }
    .square-visible input {
    width: 30px !important;
    height: 28px;
    margin: 0 2px;
    padding: 0px;
    margin-left: 2px;
    font-size: 12px;
    padding-left: 7px !important;
    }
    .circle-visible input {
    width: 40px !important;
    height: 28px;
    margin-left: 4px;
    font-size: 12px;
    }
    .recipe-tools h5{
    font-size: 14px !important;
    }
    .single-osetin_recipe .main-recipes .col-md-8, .single-osetin_recipe .main-recipes .col-md-4{
    max-width:100%;
    min-width:100%;
    }
    .single-osetin_recipe .breadcrumb-container ul li:last-child{
    display:none;
    }
    .single-ingredients {
    width: 100%;
    }
    .demo .item .clearfix {
	max-width: 100%!important;
    height: 100%;
    }
	.single-osetin_recipe .lSGallery li {
    height: 160px;
	}
    #image-gallery li img {
    height: 448px !important;
    }
    #image-gallery {
    height: 450px !important;
    }
    .single-osetin_recipe #image-gallery li img {
    max-height: 450px;
    min-height: 450px;
    }
    .upload-image-section {
    width: 188px;
    padding: 11px 0px 0px 0px;
	height: 160px;
    }
	.lSSlideOuter .lSPager.lSGallery img {
    height: 160px;
	}
	.img-upload-btn {
    height: 150px;
	}
    .img-upload-btn img {
    max-width: 35%;
    min-width: 35%;
    }
    .ipad-desktop, .community-mobile-view{
    display:none;
    }
    .ipad-view{
    display:block !important;
    }
    div#dialogForm {
    height: 100vh;
    }
    .modal-header {
    background: transparent;
    }
    .ingredients-table .col-md-4{
    max-width: 30% !important;
    float: left;
    min-width: 30% !important;
    }
    #mega-menu-wrap-header #mega-menu-header {
    padding: 0px 0px 0 18px !important;
    background: #FAFAFA;
    width: 100%;
    border-bottom: 1px solid #ededed;
    }
    .mobile-header-w .mobile-header-menu-w {
    padding: 0px 0px;
    }
    .search-section, .page-id-38008 .page-sidebar, .single .page-sidebar, .page-id-38029 .page-sidebar{
    display: none!important;
    }
    .single-post .page-w.with-sidebar .page-content {
    padding-right: 0px!important;
    }
    .page-id-38008 .page-content, .page-id-38029 .page-content{
    padding-left: 35px!important;
    }
    .searchblogs.mobile-view{
    display:block !important;
    width: 95%;
    }
    .post-wrap {
    max-width: 46%;
    min-width: 46%;
    margin: 0px 21px 20px 0px;
    }
    .section-topbar .bar-social li a i {
    font-size: 28px;
    }
    .ipadsection{
    display:block !important;
    padding-right:0px;
    }
    .section-topbar .bar-social{
    max-width:40%;
    min-width:40%;
    float:left;
    }
    .section-topbar .bar-social {
    padding: 9px 10px 10px 20px;
    }
    .usermenu li {
    padding: 12px 15px 10px 15px !important;
    }
    .usermenu {
    padding: 0px 10px 0px 10px;
    }
    .desktop-version, .image-cols {
    display:none;
    }
    .ipadsection .top-social-media{
    float:left;
    }
    .ipadsection .usermenus{
    overflow: hidden;
    float: right;
    }
    .main-search-form form .search-field {
    padding: 22px;
    padding-left: 85px;
    font-size: 20px;
    }
    .main-search-form form .search-field-w:before {
    top: 22px;
    left: 40px;
    font-size: 28px;
    }
    .homemain .masonry-grid {
    max-width: 100%;
    min-width: 100%;
    }
    .archive-posts .read-more-link a {
    padding: 8px 0px 13px 0px !important;
    }
    .recipe-meta li {
    padding: 0px 12px 0px 12px;
    }
    .slide-button-sub-label.osetin-vote-count{
    display:none;
    }
    #srpw_widget-21 div ul li a img {
    height: 145px;
    object-fit: cover;
    }
    .weektips ul li {
    max-width: 80%;
    text-align: center;
    display: block;
    }
    .testimonial_rotator.template-default .has-image .img img, .testimonial_rotator_single.has-image.template-default .img img {
    height: 170px;
    }
    #home-recipe-title:after {
    margin-left: 42px;
    }
    .archive-posts .masonry-grid .masonry-item.half .archive-item.full_full .archive-item-content-text, .archive-posts .sticky-roll-w .masonry-item.half .archive-item.full_full .archive-item-content-text, .archive-posts .list-items .masonry-item.half .archive-item.full_full .archive-item-content-text {
    height: 92px;
    }
    .fullwidth-post .archive-item-content-text {
    height: 210px;
    }
    .weektips ul li img {
    height: 108px;
    }
    #sb_instagram.sbi_col_5.sbi_disable_mobile #sbi_images .sbi_item {
    width: 33%;
    }
    .weektips{
    height: 480px;
    overflow: hidden;
    }
    ul.lightSlider>li{
    position:relative;
    padding: 0px 0px 0px 0px;
    } 
    .lslide a {
    position: relative;
    display: block;
    }
    .home-mobile-view .slider-extra{
    text-align: center;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    width: 100%;
	background: linear-gradient(0deg, rgb(108, 108, 107, 0.7) 0rem, rgba(92, 163, 144, 0));
    transition: all 0.5s ease 0s !important;
    padding: 30px;
    }
    .home-mobile-view .slider-extra h2{
    font-size: 38px;
    text-transform: uppercase;
    color: #ffffff;
	font-family: "Bison Bold";
    }
    .home-mobile-view {
    display: block !important;
    width: 100%;
    margin-top: 0px;
    }
	.mobile-header-w .mobile-header {
    border-top: 1px solid #ededed;
	}
    #home-recipe-title {
    max-width: 100%;
    min-width: 100%;
    }
    .archive-posts.masonry-grid-w .masonry-grid .masonry-item:nth-child(2), .archive-posts.masonry-grid-w .masonry-grid .masonry-item:nth-child(3), .archive-posts.masonry-grid-w .masonry-grid .masonry-item:nth-child(5), .masonry-grid-w .masonry-grid .masonry-item:nth-child(7){
    padding: 0px 0px 0px 0px !important;
    }
    .masonry-item.last-post.any.fullwidth-post {
    padding-right: 0px !important;
    }
    .tipshead h1 {
    padding-left: 0px;
    margin: 5px;
    padding-bottom: 2px;
    }
    .desktopweek .second-part .brick img {
    max-height: 140px;
    min-height: 140px;
    }
    .desktopweek .second-part .brick {
    max-height: 140px;
    min-height: 140px;
    }
    .desktopweek .first-part .brick, .desktopweek .third-part .brick {
    max-height: 210px;
    min-height: 210px;
    }
    .desktopweek .first-part .brick img, .desktopweek .third-part .brick img {
    object-fit: cover;
    height: 208px;
    }
    .weektips ul li h2 {
    font-size: 22px !important;
    }
    .blog-page ul li {
    max-width: 100%;
    margin: 0px 0px 15px 0px;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    }
    .blog-page .srpw-summary .srpw-more-link{
    margin-bottom: 7px;
    }
    .page-id-3300 .srpw-ul li {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    }
    .page-id-34 .srpw-ul li .srpw-content .srpw-title, .page-id-3300 .srpw-ul li .srpw-content .srpw-title {
    height: 100%;
    }
    .blog-page .srpw-content .srpw-title{
    height:100%;
    }
    .page-id-34 .srpw-ul li .srpw-content .srpw-summary a.srpw-more-link, .page-id-3300 .srpw-ul li .srpw-content .srpw-summary a.srpw-more-link {
    margin-bottom: 15px;
    }
    .weekmenupage ul li {
    max-width: 48%;
    min-width: 48%;
    margin-right: 13px;
    margin-bottom: 15px;
    }
    .ingr-cont {
    max-width: 100%;
    min-width: 100%;
    margin: 0%;
    }
    .page-id-34455 .select2{
    width:100% !important;
    }
    .page-w.with-sidebar .page-content {
    width: 60%!important;
    padding: 0px 20px 20px 0px;
    }
    .upage .col-md-3 {
    max-width: 33%;
    min-width: 33%;
    }
	.upage .metaboxs li:nth-child(1){
	width: 33%;
    border-right: 1px solid #999999;
    text-align: center;
    padding: 0px;
	}
	.upage .metaboxs li:nth-child(2){
	width: 33%;
    border-right: 1px solid #999999;
    text-align: center;
    padding: 0px;
	}
	.upage  .metaboxs li:last-child {
	width: 33%;
    text-align: center;
    padding: 0px;
	}
	.upage .metaboxs li a {
    text-align: center;
    display: block;
	}
	.featuredimg img {
    height: 160px;
	}
	.upage .desktop-title{
	display:none;
	}
    .upage h1 {
    max-width: 60%;
    min-width: 60%;
    }
	.popular-box1 .popular-details-sm1, .popular-box2 .popular-details-sm2 {
	width: 88%;
	}
	.popular-head {
    font-size: 42px !important;
	}
	.popular-details {
    width: 97%;
	}
    .search-recipes .ajaxsearchpro{
    width:100% !important;
    margin-bottom:15px !important;
    }
	.dwqa-question-filter a {
	padding: 10px 15px 10px 13px;
	}
    .dwqa-questions-list .dwqa-question-item:nth-child(odd), .dwqa-questions-list .dwqa-question-item:nth-child(even){
    border-right: none;
    padding-right:10px;
    }
    .submit-dwqa-question .dwqa-container {
    max-width: 100%;
    min-width: 100%;
    }
    .ipad-popular-post{
    display:block !important;
    }
    .ipad-popular-post h3{
	margin: 0px;
    border: none;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    font-family: "Bison Bold";
    color: #585756;
    }
	.trending-slider {
    height: 326px!important;
	}
    .ipad-popular-post ul li{
    max-width: 100%;
    min-width: 100%;
    padding: 0px !important;
    margin-bottom: 10px !important;
    }
    .home-vd-contents{
    max-width: 100%;
    min-width: 100%;
    padding:0px 20px 0px 20px;
    }
    .home-vd-player {
    margin-top: 3%;
    padding:0px 20px 0px 20px;
    max-width: 100%;
    min-width: 100%;
    }
    .home .arve-wrapper {
    height: 355px!important;
    min-width: 100%;
    }
    .mobile-none{
    display:none;
    }
    .tptn_posts ul li .tptn_after_thumb {
    height: auto;
    }
    span.tptn_title {
    font-size: 24px !important;
    line-height: 22px;
    }
    span.tptn_count {
    padding: 0px 11px 2px 11px;
    }
    .widget.widget_widget_tptn_pop ul li .tptn_after_thumb a, .widget.tptn_posts_list_widget ul li .tptn_after_thumb a {
    padding-top: 5px;
    }
    .ipad-profile{
    display:block !important;
    }
    .idek{
    display:none!important;
    }
    .ipad-profile .profile-menu li{
    list-style: none;
    float: left;
    padding-left: 21px;
    padding-right: 21px;
    }
    .right-block input.new-collection-name {
    width: 150px;
    }
    .new-collection button {
    width: 52px;
    }
    .ipad-profile .profile-menu {
    width: 98%;
    margin-top: 0px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    }
    .ipad-profile .profile-menu .tab button{
    width: 100%;
    }
    .siderow {
    padding-right: 0px;
    background: #fff;
    text-align: center;
    margin-top: 10px;
    }
    .lrec{
    padding-left:0px;
    }
    .frec{
    padding-left:0px;
    }
    .bodyprofile{
    max-width: 98%;
    min-width: 98%;
    margin-left: 12px;
    }
    .inbox ul li {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px;
    border-radius: 100px;
    background:transparent;
    }
    .inbox ul li a {
    color: #777777;
    }
    .new-collection button {
    height: 40px;
    width: 52px;
    }
    .profilerecipes li:nth-child(1) {
    max-width: 37%;
    min-width: 37%;
    padding: 0px 8px 4px 8px;
    }
    .profilerecipes li:nth-child(2) {
    max-width: 60%;
    min-width: 60%;
    padding: 3px 8px 4px 8px;
    }
    .archive-item-views-count-likes a .slide-button-label {
    font-size: 12px !important;
    }
    .profilerecipes .osetin-vote-has-voted .slide-button-i i, .profilerecipes .osetin-vote-not-voted .slide-button-i i{
    font-size: 8pt !important;
    }
    .profilerecipes li a {
    font-size: 12px;
    }
    .profile-menu .tab button {
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    }
    .archive-posts-w {
    padding: 20px!important;
    }
	.loginbox #loginform, #wppb-recover-password,#wppb-register-user{
    max-width: 100%;
	}
	.post-wrap img {
    height: 340px;
	}
	.left-side__text span {
    max-width: 100%;
    min-width: 100%;
	margin-bottom: 5px !important;
	}
	.related-recipes li img {
    height: 170px;
	}
	.related-recipes li {
    height: 170px;
	max-width: 32%;
    min-width: 32%;
	}
}

@media (max-width: 767px)
{
	.page-template-recipes-board .rb-item {
    width: 50% !important;
	}
	.page-template-recipes-board .rb-items.rb-items-grid-view article{
	width: 100% !important;
	}
	.page-template-recipes-board .rb-item-meta .rb-item-rating-and-read-more {
    width: 48%;
	}
	.page-template-recipes-board .favorite{
    height: 20px;
    overflow: hidden;
	}
	.page-template-recipes-board .rb-item-meta .rb-item-favorite {
    width: 25%;
	}
	.page-template-recipes-board .rb-item-meta .rb-item-views-count-likes {
    width: 25%;
	}
	.page-template-recipes-board .rb-item-meta > div a, .page-template-recipes-board .rb-item-meta > div button {
    padding: 4px 0px;
	}
	.page-template-recipes-board .favorite i{
    line-height: 20px;
    margin-left: -6px;
    margin-top: -2px;
    height: 35px;
	}
	.page-template-recipes-board .rb-items.rb-items-grid-view .favorite i {
    margin-left: 0px !important;
	}
	.rb-item-content-text, .rb-item-mobile-only-description_block {
    height: 86px;
	}
	.submit-dwqa-question .dwqa-search{
    position: relative;
	width: 100%;
	}
	.archive-item .archive-item-media a {
    max-height: 200px;
    min-height: 200px;
	}
	.home .main-header-part{
    height: 96px;
    width: 100%;
	}
	.homemain {
    margin-top: 0px;
	}
	.modal-body div.asp_w.ajaxsearchpro.asp_non_compact {
    min-width: 100%!important;
	}
	.page-template-page-recipes-user .metaboxs {
    margin-bottom: 0px;
	}
	.page-template-page-recipes-user .metaboxs li .favorite button {
    height: 30px;
    overflow: hidden;
	}
	.page-template-page-recipes-user .metaboxs li .favorite button i{
	padding: 6px 0px 15px 0px;
	}
	.category-tiles.columns-3 .category-tile {
    height: 225px;
	padding: 90px 20px;
	}
	.page-template-page-publish-recipe .frontend-publisher-w {
    padding: 0px !important;
	}
	.recsubmit {
    margin-top: 0px;
    overflow: hidden;
    display: block;
	}
	.step input {
    border: 1px solid #555555!important;
    width: 87%;
    margin-left: 0px;
	}
	.step label {
    width: 35px;
    float: left;
	}
	.recipe-tools{
    padding: 14px 8px 0px 14px;
	}
	.recipe-baking-mold, .recipe-tax {
	padding: 14px!important;
	}
	.step .col-sm-1 {
    background: transparent;
    border: none;
    border-left: none;
	}
	.recipe-ingredient table {
	width: 100%;
    display: block;
    overflow: hidden;
	}
	.mobile-view.add-ingred{
	margin: 0px 0px 10px 0px;
	}
	.stepsss li {
    position: relative;
    margin-right: 0px;
    width: 100%;
	}
	.wpua-edit-container {
    height: 100%;
    display: block;
	}
	.mobile-ppic .wpua-edit input{
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 6px 10px 10px 10px;
	margin-top: 10px;
	}
	.meettheteam, .meetteamtext, .askaquestion{
    padding: 0px 0px 0px 05px;
	}
	.archive-posts .masonry-grid .masonry-item.half .archive-item.full_full .archive-item-content-text, .archive-posts .sticky-roll-w .masonry-item.half .archive-item.full_full .archive-item-content-text, .archive-posts .list-items .masonry-item.half .archive-item.full_full .archive-item-content-text {
    height: 70px;
	}
	.children {
    padding-left: 15px;
	}
	.comment-body span.avatar {
    width: 30px;
    float: left;
	}
	.single-steps .single-step-number .single-step-number-i .single-step-control .single-step-complete-label{
	display:block;
	}
	.single-steps .single-step-number .single-step-control {
    padding-top: 20px !important;
	}
	.left-side__text p {
	text-align: justify;
	}
	.left-side__text span {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 7px;
    text-align: center;
	}
	.left-side__text {
    padding-left: 0px;
	}
	.ingr-body table tr th {
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    margin-top: 5px;
	}
	.page-id-38008 .page-content, .page-id-38029 .page-content {
    padding-left: 0px!important;
	}
	.comment-list .reply, .children .reply {
    position: inherit;
	}
	.home-post-widget .srpw-content {
    text-overflow: inherit;
    white-space: normal;
    overflow: hidden;
	}
	.home-mobile-view .lSAction .lSPrev, .home-mobile-view .lSAction .lSNext {
	margin-top: -25px;
	}
	.frontend-publisher-w form h5 {
    font-size: 18px !important;
    text-align: left;
    overflow: hidden;
	margin-bottom: 5px;
	}
	.recipe-ingredient, .recipe-ingredient .fr-box{
	width:100%;
	}
	.trending-slider li a img {
    height: 212px !important;
	}
	.upage .metaboxs li:nth-child(1){
    width: 46%;
	border-bottom: none;
    border-right: 1px solid #999999;
    text-align: center;
    padding: 0px;
	}
	.upage .metaboxs li:nth-child(2){
    width: 25%;
    text-align: center;
    padding: 0px;
	border-bottom: none;
    border-right: 1px solid #999999;
	}
	.upage  .metaboxs li:last-child {
    width: 28%;
    text-align: center;
    padding: 0px 0px 0px 10px;
	}
	.user-recipes{
    border-bottom: none;
	}
	.userpostlist {
    margin-right: 0px;
    margin-left: 5px;
	}
	.cat-questions {
    color: #fff !important;
	}
	.weekmenu-img img {
    height: 270px !important;
    object-fit: cover;
	}
	.author .followingsection li:nth-child(1) {
    width: 40%;
	}
	.loginbox{
	margin-top:30px;
	}
	.page-id-35184  .m-menu ul, .page-id-37196 .m-menu ul, .page-id-35209 .m-menu ul{
    border-bottom: 1px solid #ddd;
	}
	.loginbox #loginform, #wppb-recover-password,#wppb-register-user{
    max-width: 100%;
	}
	.ipad-desk-view{
	display:block !important;
	}
	.author .profile-menu .tab button{
	max-width: 32%;
    text-align: center;
    padding: 15px;
	border:none;
	border-radius:0px;
	}
	.author .profile-menu .tab button.active{
    border-bottom: none !important;
    background: #82b0af !important;
	}
	.author .najatsocial{
	display:none;
	}
	.author .biofor {
    padding: 0px 0px 10px 0px;
	}
	.author .follwers {
    padding-top: 0px;
	}
	.author .profile-menu {
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
	}
	.page-id-35344 .page-w{
    background-color: #fff;
	}
	.dwqa-question-category-list ul {
	margin: 4px 0px 0px 0px;
	}
	.single-dwqa-question .page-w {
    margin-top: 0px;
	border-top: none;
	}
	.page-id-35344 .m-menu {
    border-bottom: 1px solid #ededed;
	}
	.single-dwqa-question .dwqa-container {
    margin-top: 5px;
	}
	#submitqa{
	display: block;
    width: 99%;
	}
	.dwqa-question-filter a b{
	display:none;
	}
	.dwqa-question-filter {
	margin: 0px;
    display: block;
    overflow: hidden;
	}
	.dwqa-search {
    position: absolute;
    top: -25%;
    width: 92%;
	}
	.dwqa-question-add-category {
    background: #fff;
    padding: 20px 0px 10px 5px;
    margin: 33px 19px 10px 17px;
	}
	.dwqa-ask-question{
	display:none !important;
	}
	#go-comments a {
    margin-left: 56%;
	}
	.community-mobile-view .home-mobile-slider li img{
	height: 292px;
    width: 100%;
    object-fit: cover;
	}
	.comment-list .comment p, .children .comment p {
    word-break: break-all;
	}
    .single-post .page-w.with-sidebar .page-content {
    padding-right: 0px!important;
    }
    .searchblogs.mobile-view {
    width: 100%;
    }
    .single-osetin_recipe #image-gallery li img {
    max-height: 300px;
    min-height: 300px;
    }
    #right {
    width: 36px;
    margin-top: 99px;
    }
    .mobile-view, .desktop-title{
    display:block !important;
    }
    .desktop-view, .ipad-view, .pu-post{
    display: none !important;
    }
    .post-wrap {
    max-width: 100%;
    min-width: 100%;
    margin: 0px 0px 15px 0px;
    }
    .page-id-38008 .page-content{
    padding:0px!important;
    }
    .post-wrap img {
    height: 350px;
    }
    .single-ingredients {
    padding: 10px 0px 0px 15px;
    }
    ul.collection-items > li:nth-child(2) img {
    height: 100%;
    }
    .slider-holder .recipes-tips, .ipad-flat-menu{
    display:none;
    }
    .popup-body .collection-items .new-collection input {
    width: 114px!important;
    }
    #home-recipe-title:after {
    margin: 34px 0px 0px 30px;
    }
    .main-recipes .single-main-media img {
    height: 100%;
    width: 100%;
    }
    .mobilesteps{
    display:block !important;
    }
	.dwqa-question-filter a {
	width: 33%;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #bbd8d0 !important;
	float: left;
	font-size: 16px;
	text-align: center;
	}
    .dwqa-question-filter a.active{
    border: 1px solid #bbd8d0 !important;
    }
    .dwqa-content-edit-form {
    padding: 0px;
    }
    .page-id-35344 article {
    padding-left: 0px;
    }
    .single-dwqa-question .dwqa-answer-item {
    padding: 15px;
    }
    .dwqa-container {
    margin-top: 30px;
    }
    #pagetitles{
    display:none;
    }
    .page-id-34 .srpw-ul li .srpw-content .srpw-title, .page-id-3300 .srpw-ul li .srpw-content .srpw-title {
    height: 100%;
    }
    .blog-page .srpw-content .srpw-title{
    height:100%;
    }
	.top-bar {
    margin-top: 0px;
    padding: 10px 10px 13px 10px;
    border-top: 1px solid #ededed !important;
	}
    #webz-community-slider li a {
    display: block;
    width:100%;
    }
    .userpostlist.desktop-view, .ipadsection, .desktop-version{
    display: none !important;
    }
    .userpostlist.mobile-view{
    display: block !important;
    overflow: hidden;
    }
    .community-mobile-view{
    display:block;
    }
    .community-desktop-view{
    display:none;
    }
    .community-mobile-view .slider-extra h2 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 10px 20px 20px;
    background: linear-gradient(0deg, rgb(18, 58, 56) -22rem, rgba(48, 137, 133, 0));
    transition: all 0.5s ease 0s !important;
    bottom: -5px;
    }
    .not-logged-lg{
    max-width: 70% !important;
    min-width: 70% !important;
    float:left;
    }
    .not-logged-lg img {
    max-width: 80%!important;
    min-width: 80%!important;
    padding: 8px 5px 9px 10px!important;
    }
    .not-logged-mu{
    max-width: 30% !important;
    min-width: 30% !important;
    }
    #responsive-menu{
    margin-top: 50px !important;
    }
    .mobile-parts{
    display:block !important;
    }
    .mobile-parts .vc_column-inner{
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #fff;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px !important;
    border: 3px solid #d3e6e1;
    }
    .tptn_posts ul li .tptn_after_thumb {
    height: 27px;
    overflow: hidden;
    padding-top: 5px;
    }
    .mobilehomelatest{
    margin-bottom: 5px!important;
    }
    .mobilehomelatest h3{
	border: none;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    line-height: 42px;
    font-family: "Bison Bold";
    font-size: 42px;
    color: #5e5e5e;
    }
    .mobilesearch h4{
    color: #ffffff;
    font-size: 26px;
    text-transform: uppercase;
    }
    .mobilesearch{
    z-index:1111!important;
    margin: 7px 0px 0px 0px;
    }
    .mobilesearch .modal-header{
    background: #2B8985;
    border: none;
    border-radius: 0px;
    }
    .newsliders{
    display:none !important;
    }
    .mobilesearch .modal-content {
    border: none;
    border-radius: 0px;
    }
    .mobile-profile-menu ul li button{
    background: transparent !important;
    padding: 0px;
    border: none;
    }
    .mobile-profile-menu ul li button img{
    max-width: 35px;
    min-width: 35px;
    border: 2px solid #2B8985;
    border-radius: 100px;
    padding: 5px;
    }
    .mobile-profile-menu ul li button:focus{
    outline:none!important;
    border:none !important;
    box-shadow:none!important;
    }
    .home-post-widget ul li .srpw-img{
    width: 50%;
    float: left;
    }
    .homeblogs .vc_column-inner, .stories-side-image .vc_column-inner {
    padding-left:0px !important;
    padding-right:0px !important;
    }
    .home-post ul li a img {
    max-height: 240px !important;
    object-fit: cover;
    min-height: 240px !important;
    border-right: 7px solid #F4DD9E;
    }
    .home-post ul li .srpw-content a, .home-post ul li .srpw-meta, .home-post ul li .srpw-summary p{
    padding-left: 14px;
    overflow: hidden;
    display: block;
    font-size: 18px;
    }
    .homeblogs h2:after {
    left: 25px;
    }
    .image-cols {
    margin-top: 30px;
    }
    .m-menu{
    width: 100%;
    height: 45px;
    display: block;
    overflow: hidden;
	}
    .m-menu ul{
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #ededed;
    justify-content: center;
    display: flex;
    overflow: hidden;
    }
    .m-menu ul li{
    list-style: none;
    float: left;
    border-right: 1px solid #ededed;
    padding: 10px 15px 10px 15px;
	}
    .m-menu ul li:last-child{
    border-right:none;
    }
    .m-menu ul li a{
    color: #555555;
    text-transform: uppercase;
	font-size:16px;
    }
    #image-gallery {
    height: 100% !important;
    }
    .upload-image-section {
    padding: 11px 5px 0px 0px !important;
    width: 99px;
    height: 95px;
    }
	.img-upload-btn {
    height: 100%;
	}
    #image-gallery li {
    height: 100% !important;
    }
    .publish-rec p {
    text-align: left;
    }
    .publish-rec a {
    float: left;
    }
	#comments {
	padding: 0px 0px 15px 0px;
	}
	.comments-title span {
    border: none;
	}
    .mobile-lg{
    max-width: 30%;
    min-width: 30%;
    float: left;
    }
    .mobile-lg img{
    max-width: 50px;
    min-width: 50px;
    margin-left: 65px;
    padding: 3px 0px 3px 0px;
	}
    .mobile-profile-menu{
    max-width: 70%;
    min-width: 70%;
    }
    .mobile-profile-menu ul{
    overflow: hidden;
    float: right;
    padding: 9px 26px 0px 0px;
	}
    .mobile-profile-menu ul li{
    list-style: none;
    float: left;
    margin-right: 0px;
    margin-left: 5px;
    }
    .mobile-profile-menu ul li a img{
    max-width: 35px;
    min-width: 35px;
    border: 2px solid #2B8985;
    border-radius: 100px;
    padding: 5px;
    }
    .media li img {
    max-width: 100%;
    height: auto;
    }
    .desktopsocial{
    display:none;
    }
    .single-steps .single-step-number .single-step-number-i .single-step-number-value {
    top: -12px;
    font-size: 20px !important;
    }
    div#dialogForm {
    padding-bottom: 60%;
    }
	form#myfavform {
	width: 90%;
	margin: 0px auto 40px auto;
	}
    .single-post-navigation a {
    max-height: 100%;
    min-height: 100%;
    }
    .single-panel .single-panel-main .single-meta.single-meta-at-bottom .social-bottom-author {
    display: block;
    }
    .single-meta-at-bottom ul li{
    float:left;
    }
    .single-panel .single-panel-main .single-meta ul {
    overflow: hidden;
    }
    li.social-bottom-comments{
    padding: 20px !important;
    }
    .single-panel .single-panel-details {
    border-right: none;
    padding-right: 10px;
    padding-top: 20px;
    }
    .searchtopbar, .usermenus{
    display:none !important;
    }
    .mobile-bar{
    display: block!important;
    overflow: hidden;
    padding-left: 0px;
    }
    .mobile-bar .col-md-6{
    width:50%;
    }
    .bar-social li{
    padding: 0px!important;
    }
    .bar-social li a{
    overflow: hidden;
    display: block;
    }
    .bar-social li a i{
    font-size: 34px !important;
    margin-right: 0px !important;
    }
    .top-profile-links-box {
    height: auto;
    }
    .home .top-profile-links-box-container, .page-template-default .top-profile-links-box-container, .archive .top-profile-links-box-container, .single .top-profile-links-box-container{
    display: block !important;
    overflow: hidden;
    }
    .usermenu {
    height: auto;
    margin-top: 0px;
    float: none;
    margin-right: 0px;
    }
    .mobilelogin ul{
    overflow: hidden;
    padding-top: 11px;
    padding-left: 8px;
    }
    body.logged-in .top-profile-links-box ul li {
    border-bottom: none !important;
    }
    .mobilelogin ul li{
    float: left;
    padding: 1px 10px 0px 0px !important;
    flex: none !important;
    border: none;
    list-style:none;
    }
    .mobilelogin ul li a{
    color: #fff;
    font-family: "NewsCycle-Regular";
    font-size: 14px;
    text-transform: uppercase !important;
    }
    .mobilelogin ul li:after{
    content: "|";
    color: #fff;
    padding-left: 7px;
    }
    .mobilelogin ul li:last-child:after{
    display:none;
    }
    .mobile-menu-search-toggler{
    display:none !important;
    }
    .bar-social{
    display: table!important;
    margin: 0px auto!important;
    padding: 0px!important;
    }
    .top-profile-links-box {
    background: #2B8985 !important;
    padding-bottom: 12px !important;
    }
    .mobile-header-w .mobile-header {
    padding-top: 0px;
    }
    .archive-posts.masonry-grid-w .masonry-grid .masonry-item {
    padding: 0px 0px 0px 0px!important;
    }
    .mobile-header-w .mobile-header-menu-w {
    background-color: #4CC2BE !important;
    padding: 44px 0px;
    padding-bottom: 0px;
    }
    #mega-menu-wrap-header .mega-menu-toggle {
    background: #4CC2BE;
    }
    #mega-menu-wrap-header .mega-menu-toggle.mega-menu-open + #mega-menu-header {
    width: 100%;
    background: #3baba7;
    }
    #mega-menu-wrap-header #mega-menu-header {
    padding: 10px 10px 10px 10px !important;
    }
    #mega-menu-wrap-header #mega-menu-header > li.mega-menu-item {
    border-bottom: 1px dashed #27726f;
    }
    #mega-menu-wrap-header #mega-menu-header > li.mega-menu-item:last-child{
    border-bottom:none;
    }
    #mega-menu-wrap-header .mega-menu-toggle.mega-menu-open .mega-toggle-block-1 .mega-toggle-label-open, #mega-menu-wrap-header .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label .mega-toggle-label-closed{
    color: #0d2625;
    font-size: 18px;
    font-weight: bold;
    }
    #mega-menu-wrap-header .mega-menu-toggle .mega-toggle-block-1:after {
    color: #0d2625;
    }
    .newsliders {
    height: auto;
    cursor: pointer;
    }
    .newsliders li {
    width: 100% !important;
    }
    .yto h4, .newsliders li:hover .slider-extra .yto{
    display:none;
    }
    .home .archive-posts {
    padding: 0px!important;
    }
    .archive-posts-w {
    padding: 10px!important;
    }
    .archive-item-content{
    padding: 20px!important;
    padding-top: 0px!important;
    }
    .recipesingle .vc_custom_1420541757398 .vc_gitem-animated-block {
    width: 50%;
    }
    .recipesingle .vc_custom_1419242120132 {
    width: 50% !important;
    }
    .recipesingle .vc_gitem_row .vc_gitem-col p {
    height: 175px;
    }
    .recipesingle{
    padding: 10px;
    }
    .homeblogs h2 {
    margin-top: 5px;
    }
    .homeblogs .vc_grid-item{
    max-width: 95%;
    min-width: 95%;
    margin: 0px auto;
    }
    .home .vc_video-bg {
    display: block !important;
    }
    .mobileweek{
    display:block !important;
    overflow:hidden;
    }
    .desktopweek, .mobile-menu-toggler{
    display: none !important;
    }
    .mobileweek .week-part1, .mobileweek .week-part2, .mobileweek .week-part3{
    max-width: 33%;
    min-width: 33%;
    float: left;
    }
    .home .fullwidth-post{
    display:none;
    }
    .b3 a img, .b4 a img, .b5 a img{
    height: 101px!important;
    object-fit: cover!important;
    }
    .weektips ul li {
    max-width: 50%;
    padding-left: 0px;
    min-width: 50%;
    float: left;
    padding: 5px;
    }
    .weektips ul li img {
    height: 145px;
    object-fit: cover;
    }
    .weektips ul li h2 {
    font-size: 16px !important;
    }
    button#responsive-menu-button {
    position: absolute!important;
    top: -4px !important;
    left:0%!important;
    background: transparent !important;
    display: block !important;
    }
    .responsive-menu-inner:before, .responsive-menu-inner, .responsive-menu-inner:after{
    background-color: #2b8985!important;
    }
    .mobile-header-w .mobile-header .mobile-menu-search-toggler {
    position: absolute;
    top: 85px;
    z-index: 11111;
    left: 30px;
    }
    .mobile-logo{
    display:none !important;
    }
    #responsive-menu-container {
    outline: none!important;
    z-index: 9999999;
    left:-1px!important;
    width: 70% !important;
    }
    .responsive-menu-button.is-active {
    margin-top: 0px !important;
    margin-left: 0px !important;
    }
    #responsive-menu-container #responsive-menu-wrapper {
    padding-top: 0px;
    }
    .main-search-form {
    z-index: 999999;
    }
    .main-search-form {
    width: auto!important;
    }
    #responsive-menu-container li.responsive-menu-item{
    border-bottom: 1px dashed #0d2625!important;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a {
    border: none!important;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
    height: 40px!important;
    line-height: 52px!important;
    width: 60px!important;
    background-color: #ffffff!important;
    }
    .theme-neptune-by-osetin .breadcrumb-custom {
    top: 12px !important;
    width: 85%;
    display: block;
    overflow: hidden;
    }
    .single-osetin_recipe .breadcrumb-custom {
    left: 22px!important;
    }
    .single .breadcrumb-custom {
    top: 1px!important;
    left: 45px!important;
    }
    .breadcrumb-custom {
    top: 28px!important;
    left: 45px!important;
    }
    .theme-neptune-by-osetin #pagetitles {
    margin-top: 0px;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-right: 0px;
    }
    .archive .archive-posts-w {
    padding: 20px !important;
    }
    .archive-item-media a {
    width: 100%!important;
    max-width: 100%;
    min-width: 100%;
    }
    .archive-posts .page-title {
    padding: 10px;
    text-align: center;
    width: 100%;
    }
    .top-bar ul {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center!important;
    width: 100%;
    justify-content: center;
    display: flex !important;
    }
    .single-main-media, .main-recipes .single-content-self {
    margin-right: 0px;
    }
    .single-content {
    padding: 0px 0px 0px 0px;
    }
    .ingredients-table .col-md-4 {
    max-width: 100% !important;
    min-width: 100% !important;
    }
    .page-top-title {
    float: none!important;
    }
    .top-bar ul li {
    float: none!important;
    text-align: center!important;
    }
    .homemain .masonry-grid{
    float: none!important;
    max-width: 100%;
    min-width: 100%;
    }
    .homemain .masonry-grid .masonry-item {
    padding: 0px 0px 0px 0px !important;
    }
    .home .fullwidth-post article {
    height: 100% !important;
    }
    #home-recipe-title {
    font-size: 20pt;
    margin-top: 10px;
    max-width: 100%;
    min-width: 100%;
    }
	.recipe-meta li {
	padding: 13px 30px 15px 30px;
	}
	.archive-item-views-count-likes a .slide-button-i .osetin-vote-count {
    float: right;
    padding-left: 3px;
	}
	.recipe-meta li:nth-child(2) {
    padding-bottom: 16px;
	}
	.recipe-meta li:nth-child(3) {
	padding: 15px 0px 0px 20px;
    width: 23%;
    height: 52px;
    overflow: hidden;
	}
	span.slide-button-i {
    float: left;
	}
    .home-post ul li {
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    }
    .home-post .vc_column-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    .videoblog{
    margin-top: 8px;
    }
    .home-post .srpw-content{
    width:50%;
    float:left;
    }
    .home-post .srpw-content .srpw-more-link{
    background: #f4dd9e;
    color: #fff !important;
    max-width: 125px;
    padding: 6px 10px 6px 10px;
    overflow: hidden;
    display: block;
    margin: 10px 10px 0px 13px;
    text-align: center;
    }
    .videobtn a{
    background: transparent!important;
    border: 2px solid #ffffff!important;
    padding: 5px 20px 5px 20px!important;
    color: #ffffff!important;
    font-size: 20px!important;
    }
    .videobg h2 {
    padding-left: 0px;
    }
    .videobg h2:after {
    width: 82px;
    height: 8px;
    left: 18px;
    }
    .testi-section {
    margin-right: 0px !important;
    margin-left: 0px !important;
    }
    .testimonial_rotator .testimonial_rotator_slide_title {
    font-size: 22px !important;
    margin: 0px !important;
    font-weight: bold;
    color: #585756 !important;
    height: 30px;
    overflow: hidden;
    }
    .testi-section h2 {
    font-size: 30px!important;
    }
    .testimonial_rotator_quote {
	font-size: 15px;
    padding: 0px;
    line-height: 22px;
    height: 50px;
    overflow: hidden;
    }
    .testimonial_rotator_wrap {
    margin: 20px 0px!important;
    }
    .testi-section .vc_column-inner{
    padding-left: 0px!important;
    padding-right: 0px!important;
    }
    .testi-section h2 b {
    font-size: 32px;
    }
    .masonry.gutterless {
    padding: 10px 10px 10px 15px;
    }
    .weekmenu .wpb_text_column{
    margin-bottom:5px;
    }
    .weekmenu {
    padding: 0px 0px 0px 0px !important;
    margin-left: 0px;
    }
    .masonry-item.any.fullwidth-post .archive-item-media {
    width: 100% !important;
    display: block;
    height: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
    }
    .masonry-item.any.fullwidth-post .archive-item-content {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    }
    .masonry-item.any.fullwidth-post .archive-item-i {
    display: block!important;
    }
    .home .vc_row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    }
    .trend {
    margin-left: 0px !important;
    margin-right: 0px !important;
    }
    .videobg .vc_grid-item-zone-c-left .vc_gitem-zone-c, .vc_grid-item-zone-c-right .vc_gitem-animated-block {
    width: 100% !important;
    height: 100% !important;
    margin-right: 3px !important;
    margin-top: 20px;
    }
    .videobg .vc_grid-item-zone-c-right .vc_gitem-zone-c {
    width: 100%;
    }
    .testimonial_rotator.template-default .has-image .img, .testimonial_rotator_single.has-image.template-default .img {
    max-width: 50%;
    min-width: 50%;
    float: left;
    padding-left: 20px;
    }
    .testi-section .wpb_text_column{
    margin-bottom: 0px !important;
    }
    .testimonial_rotator.template-default .has-image .img img, .testimonial_rotator_single.has-image.template-default .img img {
    height: 130px;
    }
    .testimonial_rotator.template-default .has-image .text, .testimonial_rotator_single.has-image.template-default .text {
    max-width: 50%;
    min-width: 50%;
    padding-left: 10px;
    padding-right: 20px;
    }
	.testi-section .vc_column-inner{
	padding-top: 15px !important;
	}
    .testimonial_rotator_stars {
    max-width: 37%;
    }
    .testimonial_rotator_wrap.with-prevnext {
    padding: 0px 0px;
    }
    .testimonial_rotator_wrap.with-prevnext {
    padding: 0px 0px;
    }
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu {
    background-color: #ffffff !important;
    }
    .home #responsive-menu-container li.responsive-menu-item, .page #responsive-menu-container li.responsive-menu-item, .archive #responsive-menu-container li.responsive-menu-item, .single #responsive-menu-container li.responsive-menu-item{
    border-bottom: 1px dashed #ededed !important;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
    font-size: 18px!important;
    line-height: 50px!important;
    }
    .back-sub-menu a{
    background: #fff !important;
    }
    .meta-trading {
    height: 100%;
    padding: 0px 10px 0px 10px;
    }
    .trending-slider li {
    max-height: 100%;
    min-height: 100%;
    padding: 10px !important;
    }
    .trending-slider li:nth-child(even) img, .trending-slider li:nth-child(odd) img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    }
    .trend-home h2 {
    text-align: center !important;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px
    }
    .trend-home h2 b {
    font-size: 40px;
    float: right;
    }
    .trend{
    border: 3px solid #d7e7dc;
    margin-bottom: 15px;
    }
    .trend-home .wpb_wrapper {
    border: none;
    padding: 0px;
    }
    .trending-item{
    margin-bottom: -20px;
    }
    .trend-home {
    padding: 20px 0px 0px 0px;
    margin-bottom: 0px;
    }
    .trending-slider li h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 24pt;
    color: #585756!important;
    font-family: "Bison Bold";
    }
    .trending-slider span {
    color: #585756;
    font-size: 13pt;
    margin-bottom:10px;
    width: 100%;
    display: block;
    line-height: 15px;
    letter-spacing: 0px;
    }
    .trending-slider li:nth-child(odd) .meta-trading {
    margin-top: 0px;
    }
    .trending-slider {
    height: 100%!important;
    padding-bottom: 7px !important;
    }
    .stories-side-image{
    display:none;
    }
    .home .arve-wrapper {
    height: 100%!important;
    }
    #arve .arve-embed-container, #tinymce .arve-embed-container {
    padding-bottom: 98.25% !important;
    }
    .home-vd-player {
    margin-top: 7%;
    }
    .archive-posts .read-more-link a, .recipe-meta li .btn, .archive-item-views-count-likes{
    padding:0px !important;
    }
	.archive-item-read-more-btn .read-more-link {
    margin-top: 0px!important;
	}
	.favorite button{
	border:none;
	line-height:0px;
	}
    .breadcrumb-container.theme5 a::after {
    right: -25px!important;
    }
    .blog-page ul li {
    max-width: 100%;
    margin: 0px 0px 15px 0px;
    max-height: 100%;
    min-height: 100%;
    }
    .page-id-34 .srpw-ul li, .page-id-3300 .srpw-ul li {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    }
    .blog-page .srpw-summary .srpw-more-link, .page-id-34 .srpw-ul li .srpw-content .srpw-summary a.srpw-more-link, .page-id-3300 .srpw-ul li .srpw-content .srpw-summary a.srpw-more-link {
    margin-bottom: 15px;
    }
    .weekmenupage ul li {
    max-width: 100%;
    min-width: 100%;
    }
    .ingr-cont {
    max-width: 100%;
    min-width: 100%;
    }
    .select2-container {
    width: 100% !important;
    }
    .ingr-cont table th, .ingr-cont table td {
    width: 100%;
    overflow: hidden;
    display: block;
    text-align: center;
    }
    .ingr-cont select, .ingr-cont input {
    text-align: center;
    }
    .userprofiles{
    margin-bottom:15px;
    }
    .howitworks .vc_col-sm-12 .wpb_content_element {
    margin-right: 0px;
    }
    .upage h1 {
    max-width: 100%;
    min-width: 100%;
    font-size: 28px;

    text-align: center;
    border:none;
    }
    .search-recipes .ajaxsearchpro {
    width: 100% !important;
    }
    .page-id-35748 .metaboxs li {
    padding: 0px 5px 0px 5px;
    }
    .metaboxs li .osetin-vote-not-voted .slide-button-i i, .metaboxs li .osetin-vote-has-voted .slide-button-i i{
    padding-left: 3px;
    }
    .search-recipes .probox {
    border-radius: 5px !important;
    }
    .user-recipes {
    margin-bottom: 20px;
    }
    .upage .trend-home {
    border-top: 2px solid #D9E9E5;
    padding-top: 15px;
    }
    .upage #trending-slider li{
    padding: 10px;
    }
    .popular-head {
    padding: 20px;
    font-size: 34px;
    }
    .page-id-35748 .metaboxs li .archive-item-views-count-likes a .slide-button-i .osetin-vote-count {
    display: block;
    }
    .home-mobile-view .slider-extra h2 {
    font-size: 26px;
	font-family: "Bison Bold";
    }
    .mobile-none, .single-ingredients .close-btn{
    display:none;
    }
    .recipes-box{
    display:block !important;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    }
    .recipes-box .wpb_widgetised_column {
    margin-bottom:0px;
    }
    .recipes-box .vc_column-inner {
    padding: 0px!important;
    }
    .recipes-box ul li{
    max-width: 50%;
    min-width: 50%;
    float: left;
    padding: 5px;
    padding-top: 0px;
    margin-bottom: 7px;
    }
    .recipes-box ul{
    overflow: hidden;
    }
    .recipes-box ul li .srpw-title{
    text-transform: uppercase;
    font-size: 17px;
    color: #333333;
    text-align: center;
    display: block;
    height: 20px;
    overflow: hidden;
    }
    .home-recipe-mobile-version, .home-post .srpw-more-link{
    display:block !important;
    }
    .home-recipe-desktop-version, .home-recipe-mobile-version ul.srpw-ul li:last-child{
    display: none !important;
    }
    #srpw_widget-21{
    background: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    }
    .single-osetin_recipe .section-topbar {
    height: 52px;
    }
    .breadcrumb-container.theme5 li {
    margin-bottom: 0px !important;
    }
    .mb-bakvorm{
    max-width: 100%!important;
    min-width: 100%!important;
    }
    .main-recipes .side-meta-box ul li p {
    padding: 10px 0px 10px 0px;
    }
    .single-ingredients h3 {
    padding-left: 0px;
    }
    .ingredient-serves {
    max-width: 92%;
    }
    .demo {
    margin-top: 0px;
    }
    .single-steps .single-step-media li img {
    max-width: 100%!important;
    }
    .not-sliderbutton button {
    background-position: 48%;
    }
    .related-recipes li {
    max-width: 32%;
    min-width: 32%;
    height: 95px;
    margin-right: 4px;
    }
    .publish-rec {
    text-align: center;
    }
    .single-osetin_recipe .lSGallery li {
    height: 85px;
    }
    span.tptn_count {
    padding: 0px 10px 0px 10px!important;
    position: relative!important;
    left: 3px!important;
    top: 0px!important;
    }
    .mobilehomelatest span.tptn_title {
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    .page-id-35748 h1, #widget_tptn_pop-7 h2, #wpp-6, #wpp-5, #widget_tptn_pop-7 .tptn_count, .single-osetin_recipe .breadcrumb-container ul li:last-child, .single-osetin_recipe .page-top-title, .single-osetin_recipe .main-recipes .side-meta-box ul li.single-meta-likes .osetin-vote-count{
    display:none;
    }
    .upage {
    padding: 15px;
    }
    .upage .col-md-3 {
    max-width: 50%;
    min-width: 50%;
    float: left;
    }
    .featuredimg img {
    height: 120px;
    object-fit: cover;
    }
    #widget_tptn_pop-7{
    display:block !important;
    }
    .single-osetin_recipe .single-meta ul li{
    max-width: 33%;
    min-width: 33%;
    float: left;
    margin-right: 0px;
    }
    .single-osetin_recipe .single-meta ul li:nth-child(1), .single-osetin_recipe .single-meta ul li:nth-child(2){
    border-right: 5px solid #fff !important;
    }
    .single-osetin_recipe .side-meta-box ul li:nth-child(2), .single-osetin_recipe .side-meta-box ul li:nth-child(4){
    max-width: 50%;
    min-width: 50%;
    float: left;
    padding-right: 0px;
    margin-right: 0px;
    }
    .single-osetin_recipe .side-meta-box ul li:nth-child(2){
    border-right: 5px solid #fff !important;
    }
    .single-osetin_recipe .main-recipes .side-meta-box ul li button, .single-osetin_recipe .main-recipes .side-meta-box ul li.single-meta-likes a{
    font-size: 18px;
    }
    .single-step-description-i {
    width: 100%!important;
    }
    .single-osetin_recipe .side-meta-box ul li.single-meta-likes{
    padding: 10px 10px 10px 22px !important;
    }
	#uploadModal .modal-dialog {
    top: 0%;
	}
	.circle-visible input {
    width: 60px !important;
    margin-left: 0px;
    padding-left: 0px !important;
    text-align: center;
	}
	.square-visible input {
    width: 60px !important;
    margin: 0px;
    padding-left: 0px !important;
    text-align: center;
	}
	.circle-visible .shape, .square-visible .shape {
    margin-left: 0px;
	}
	.circle-visible {
    padding-left: 0px;
    max-width: 30%;
    min-width: 30%;
	}
    .single-steps .single-step-number .single-step-number-value:after {
    width: 100%;
    padding: 2px 10px 10px 10px;
    margin-top: -5px;
    }
    .single-ingredients table.ingredients-table td .ingredient-heading, .single-ingredients .ingredients-table .td .ingredient-heading {
    padding: 5px 0px 5px 0px;
    }
    .single-osetin_recipe .osetin-vote-has-voted .slide-button-i i, .single-osetin_recipe .osetin-vote-not-voted .slide-button-i i{
    margin-left: 0px;
    }
    .page-id-35748 .home-mobile-slider, .page-id-35748 .home-mobile-slider li.lslide{
    height: 292px!important;
    }
    .close span {
    text-shadow: none;
    color:#ffffff;
    }
    .single article.post .single-post-meta .post-categories-w, .single article.page .single-post-meta .post-categories-w {
    border-left: none;
    padding-left: 0px;
    margin-left: 0px;
    }
    .comment-list .comment{
    padding-left: 0px;
    }
    .children .comment{
    padding-left: 0px;
    }
    .ipad-profile{
    display:none;
    }
    .profile-body .row{
    margin-left:0px;
    margin-right:0px;
    }
    .mobile-qa, .mobile-qas{
    display:block !important;
    }
    .holder, #week .row, #inbox .row, .profile-body-top.mobile-qas .row{
    margin:0px;
    }
    .mobile-qas.profile-body-top{
    padding:0px;
    margin:0px;
    }
    .mobile-qas.profile-body-top .col-md-6{
    max-width:50%;
    min-width:50%;
    float:left;
    padding:0px;
    }
    .mobile-qas.profile-body-top .col-md-6 .row .col-md-6{
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
    }
    .profile-menu .tab button.active{
    border-bottom: 2px solid #ffffff;
    width: auto;
    border-radius:0px;
    }
    #p-publish{
    max-width: 50px;
    min-width: 50px;
    margin-top: 22%;
    position: absolute;
    right: 13px;
    top: 9%;
    text-align: center;
    display: block;
    padding: 10px 0px 9px 0px;
    border-width: 2px;
    }
    .mobile-qa .avatar_container img{
    border-radius: 100px;
    border: 1px solid #f2df60;
    width: 100%;
    height: 126px !important;
    object-fit: cover;
    }
	i.notify-count {
    font-size: 14px !important;
    top: 0px;
    right: 8px;
    position: absolute;
	}
    .mobile-ppic{
    padding-top: 12px;
    }
    .mobile-qa .wpua-edit {
    max-width: 130px!important;
    min-width: 130px!important;
    padding-top: 3px;
    margin-top: 0px !important;
    height: 133px;
    border-radius: 100px!important;
    border: 2px solid #f2df60!important;
    background: #fff;
    }
    .mobile-qa #wpua-add-button {
    margin-top: -1px;
    margin-right: 0px;
    }
	.avatar_container ul{
	display: inline-block;
	position: relative;
	top: -85px;
	left: -33px;
	}
    .mobile-qa .remainder ul li a {
    padding: 5px 12px 7px 12px;
    border: 2px solid #f2df60;
    }
    .myprofile .banner .remainder {
    max-width: 85px;
    min-width: 85px;
    margin: 13% 3.7% 0% 0%;
    }
    .myprofile {
    padding: 0px;
    }
    .profile-menu-header{
    max-width: 16% !important;
    min-width: 16% !important;
    }
    .profile-menu-header ul {
    overflow: hidden;
    float: right;
    padding: 8px 5px 8px 0px;
    border-left: 2px solid #2B8985;
    }
    .profile-menu-header ul li a img{
    border: none;
    border-radius: 0px;
    }
    .page-template-page-myprofile #responsive-menu-button{
    border-right: 2px solid #2B8985;
    }
    .profile-logo-header{
    max-width: 80% !important;
    min-width: 80% !important;
    }
    .profile-logo-header img{
    max-width: 265px;
    float: right;
    padding: 5px 0px 0px 0px;
    }
    .page-template-page-myprofile .section-topbar {
    height: 51px;
    }
    .search-filter-bar .search-bar, .search-filter-bar .filter {
    width: 100%;
    margin-bottom: 10px;
    }
    .page-template-page-myprofile .srpw-block ul {
    padding: 2px;
    }
    .filter-select {
    width: 100%;
    top: 45px!important;
    }
    .page-template-page-myprofile .top-profile-links-box-container {
    display: block !important;
    }
    .myprofile .banner {
    height: 265px;
    }
    .desktop-qa, .mobile-qa .remainder ul li a span, .desktop-fs{
    display:none;
    }
    .mobile-qa .count-flowr{
    padding-top: 40px;
    }
    .mobile-qa .count-flowr li{
    width: auto;
    padding: 5px 10px 5px 10px;
    }
    .mobile-qa .count-flowr li:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #f2df60;
    border-right: none;
    }
    .mobile-qa .count-flowr li:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #f2df60;
    border-left: none;
    }
    .profile-menu {
    margin-top: 0px;
    padding: 0px 0px 2px 0px;
    overflow: hidden;
    background: #b4d0cf;
    margin-bottom:2px;
    }
    .mobile-qa .count-flowr li a{
    border: none;
    background: transparent !important;
    padding: 0px 10px 0px 10px;
    font-weight: normal;
    }
    .profile-menu .tab button{
    background: transparent !important;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0px;
    font-size: 16px;
    }
    .mobile-qa .count-flowr li a span{
    padding-right: 5px;
    }
    .mobile-qa .tab li{
    width: auto;
    float: left;
    list-style: none;
    padding: 10px 0px 10px 14px;
    }
    .wpua-edit input, #edit_profile{
    background: #9EC7BD;
    border: none;
    padding: 6px 25px 8px 25px;
    border-radius: 100px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin: 0px auto;
    display: block;
    font-family: "NewsCycle-Regular";
    transition: .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -3px rgba(0, 0, 0, 0.2);
    }
    .profile-sidebar h2 {
    font-size: 20px;
    }
    .feed h2:before {
    width: 18px;
    height: 18px;
    }
    .myfriedns h2:before {
    width: 22px;
    height: 22px;
    }
    .inbox h2:before {
    width: 20px;
    height: 20px;
    }
    .page #ci-modal {
    width: 95%;
    }
    #medit{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #888686;
    }
    .page-template-page-myprofile .srpw-modern-style .srpw-content .srpw-title {
    font-size: 16px !important;
    background: transparent;
    }
    .srpw-modern-style .srpw-content {
    bottom: 46px!important;
    }
    .recipe-new-post-title p, .story-new-post-title p {
    text-align: center;
    margin-top: 2px;
    background: #cee1e0;
    color: #ffffff;
    }
    .recipe-new-post-title p, .story-new-post-title p{
    border-right: 2px solid #ffffff;
    font-size: 16px;
    }
    #edit_profile {
    margin-top: 15px;
    }
    .mobile-profile-pic{
    display: block !important;
    background: #fff;
    padding: 5px 0px 10px 0px;
    border: 4px dashed #ddd;
    margin-bottom: 15px;
    }
    .mobile-profile-pic h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    }
    .feed, .myfriedns, .saved-side{
    background: #ffffff;
    border: 1px solid #ededed;
    box-shadow: none;
    }
    .inbox{
    box-shadow: none;
    }
    #wppb-edit-user {
    border: 1px solid #ededed;
    margin-bottom: 15px;
    }
    .tabcontent .col-md-4{
    padding:0px;
    }
    .mobile-profile-pic .avatar_container img{
    border-radius: 100px;
    border: 3px solid #f2df60;
    height: 140px;
    object-fit: cover;
    }
	.add-favorites .new-collection .lds-ellipsis{
	left: -6px !important;
    top: 12px !important;
	}
    .saved-collection article {
    max-width: 50%;
    min-width: 50%;
    margin-bottom: 10px;
    }
    .right-block input.new-collection-name {
    width: 82%;
    }
    .saved-sides img, .ingradient-profile img{
    width:100%;
    }
    .extra.active {
    margin-left: 0px;
    }
    .weekname ul li {
    max-width: 94%;
    min-width: 94%;
    }
    div#week-menu-popup.active {
    padding-top: 0px;
    }
    .fav-group-post-list {
    width: 100%;
    }
    #week-menu-popup .fav-group-list ul li label {
    padding: 10px 10px 10px 20px;
    width: 100%;
    }
    #week-menu-popup .fav-group-list {
    width: 100%;
    padding: 15px 0 10px 0;
    }
    .fav-group-list .lds-ellipsis {
    left: 295px !important;
    top: -32px !important;
    }
    .fav-group-post-list {
    width: 100% !important;
    top: 0%;
    right: -420px;
    padding-bottom: 15px;
    }
    .weekname ul li i {
    margin-top: 35%!important;
    }
    .inbox-messaging li p {
    max-width: 85%;
    min-width: 85%;
    }
    .search-user-box .auto-complete button {
    margin-right: -12px;
    }
    .user_list_drop_down.active {
    width: 100%;
    }
    .myrecipes {
    max-width: 100%;
    min-width: 100%;
    }
    img.img-responsive.msg-img {
    max-width: 35px;
    max-height: 35px;
    margin: 4px 3px 0px 0px;
    }
    .author .profile-menu .tab button.active {
    max-width: 33%;
    min-width: 33%;
    }
    .author #week .col-md-12, .author #myrecipes .col-md-12, .author #myfavorite .col-md-12 {
	border: 3px solid #deeae7;
    margin-left: 0px;
    max-width: 100%;
    }
    .author .weekmenupage ul li {
    max-width: 95% !important;
    min-width: 95% !important;
    }
    .weekmenu-img {
    max-height: 100%;
    min-height: 100%;
    }
    .removepaddings {
    padding-right: 0px;
    padding-left: 0px;
    background: #ffffff;
    }
    #London .removepadding {
    padding: 0px;
    border: none;
    }
    .bodyprofile{
    padding-right: 0px;
    padding-left: 0px;
    background: #ffffff;
    max-width: 95%!important;
    min-width: 95%!important;
    margin-left: 9px!important;
    margin-top: 10px;
    padding-bottom: 15px;
    }
    .removepadding {
    margin-top: 14px !important;
    border: 2px solid #deeae7;
    }
    .page-template-page-myprofile form#myfavform {
    height: 565px!important;
    }
    .tab-contents {
    background: #ffffff;
    }
    .removepadding .wppb-user-forms ul li {
    padding-bottom: 15px !important;
    }
    #titlerecipe {
    max-height: 100%;
    min-height: 100%;
    }
    .saved-side, .weekside{
    margin-top: 10px;
    }
    .saved-side h2:before {
    width: 23px;
    height: 23px;
    }
    .favorite-list .extra.active .fav {
    padding-left: 0px;
    }
    .profile-sidebar{
    width:100%;
    }
    .profilerecipes li:nth-child(1) {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 6px;
    }
    .profilerecipes li:nth-child(2) {
    max-width: 100%;
    min-width: 100%;
    }
    .saved-collection article .archive-item-content {
    padding: 10px 10px 10px 10px !important;
    }
    .saved-collection .archive-item-views-count-likes a .slide-button-i .osetin-vote-count {
    display: none;
    }
    .saved-collection article .archive-item-media a {
    max-height: 120px !important;
    min-height: 120px!important;
    }
    .profilerecipes .osetin-vote-not-voted .slide-button-i i, .profilerecipes .osetin-vote-has-voted .slide-button-i i{
    margin-left: 0px;
    margin-top: 2px !important;
    }
    .profilerecipes a .slide-button-label {
    padding-left: 18px;
    }
    .ipad-profile{
    display:none!important;
    }
    #week-menu-popup .fav-group-list ul li {
    border-left: 10px solid #9EC7BD;
    border-right: 10px solid #9EC7BD;
    }
	.archive-item-views-count-likes a .slide-button-label {
    display: none;
	}
	.slide-button-sub-label.osetin-vote-count {
    display: block;
	}
	.author .mobile-qa .count-flowr {
    padding-top: 0px;
	}
	div#success-message {
    top: 18px;
    width: 90%;
	}
}
@media (max-width: 414px)
{
	.user_list_drop_down.active {
    width: 92%;
	}
	i.notify-count {
    top: -4px;
	}
	.single-osetin_recipe .top-bar {
    margin-top: 43px;
	}
	.popup-body ul.collection-items > li img {
    height: 78px;
    }
	.popup-body .collection-items .new-collection input {
    width: 165px!important;
	}
	.page-id-35748 .popup-body .collection-items .new-collection input {
    width: 165px!important;
	}
    .user-recipes h2 a {
    font-size: 16px;
    }
    .user-recipes h2 {
    height: 26px;
    overflow: hidden;
    }
	#go-comments a {
	margin-left: 60%;
	}
	.dwqa-question-add-category {
    margin: 33px 17px 10px 10px;
	}
	.dwqa-search {
	width: 92%;
	top: -24.7%;
	}
	.trending-slider li h3 {
    font-size: 20pt;
	}
}

@media (max-width: 411px)
{
	.m-menu {
    height: 40px;
	}
	.popup-body .collection-items .new-collection input {
	width: 163px!important;
	}
	.single-osetin_recipe .top-bar {
    margin-top: 40px;
	}
	.home .m-menu {
    height: 45px;
	}
    .b3 a img, .b4 a img, .b5 a img {
    height: 100px!important;
    }
    .trend-home h2 {
	font-size: 34px !important;
    padding-left: 20px;
    padding-right: 30px;
    }
	.m-menu ul li {
	padding: 7px 20px 10px 20px;
	}
    #edit_profile {
    margin-top: 15px;
    }
    .inbox-messaging li p {
    max-width: 85%;
    min-width: 85%;
    }
    .search-user-box .auto-complete button {
    margin-right: -11px;
    }
    #p-publish {
    top: 8%;
    }
	#go-comments a {
	margin-left: 60%;
	}
	.dwqa-search {
    width: 92%;
    top: -24.7%;
	}
	.page-id-35748 .popup-body .collection-items .new-collection input {
    width: 163px!important;
	}
}

@media (max-width: 375px)
{
	.home .main-header-part {
    height: 90px;
	}
	.single-osetin_recipe .side-meta-box ul li.single-meta-likes {
    padding: 10px 10px 10px 14px !important;
	}
	.m-menu ul li {
    padding: 7px 15px 10px 15px;
	}
	.dwqa-search {
	width: 91%;
	top: -23.7%;
	}
	#go-comments a {
	margin-left: 56%;
	}
    .single-osetin_recipe #image-gallery li img {
    max-height: 250px;
    min-height: 250px;
    }
    .upload-image-section {
    padding: 11px 16px 0px 0px !important;
    height: 80px;
    }
    .metaboxs li {
    border-right: 1px dashed #cccccc;
    }
    .user-recipes h2 a {
    font-size: 14px;
    }
    .user-recipes h2 {
    height: 26px;
    overflow: hidden;
    }
    .page-id-35748 .home-mobile-slider, .page-id-35748 .home-mobile-slider li.lslide {
    height: 280px!important;
    }
    .community-mobile-view .slider-extra h2 {
    font-size: 24px;
    }
    .b3 a img, .b4 a img, .b5 a img {
    height: 90px!important;
    }
    .trend-home h2 {
	padding-left: 20px;
    padding-right: 20px;
    }
	.recipe-meta li:nth-child(3) {
    width: 24%;
	}
	.recipe-meta li {
    padding: 13px 27px 15px 27px;
	}
	.popup-body .collection-items .new-collection input {
    width: 140px!important;
	}
    .single-osetin_recipe .lSGallery li {
    height: 73px;
    }
    .page-id-35748 .metaboxs li {
    padding: 0px 2px 0px 2px;
    }
    .right-block input.new-collection-name {
    width: 80%;
    }
    .inbox-messaging li p {
    max-width: 80%;
    min-width: 80%;
    }
    #follower-tab .item, #following-tab .item {
    margin: 0px 5px 8px 2px;
    }
    .profile-logo-header img {
    max-width: 243px;
    }
    #p-publish {
    top: 10%;
    }
    .profile-menu .tab button {
    font-size: 14px;
    }
    .search-user-box .auto-complete button {
    margin-right: -12px;
    }
    .profilerecipes a .slide-button-label {
    padding-left: 17px;
    font-size: 13px !important;
    }
    .img-upload-btn {
    height: 70px;
    }
	.page-id-35748 .popup-body .collection-items .new-collection input {
	width: 141px!important;
	}
    .popup-header h2 {
    font-size: 20px;
    }
	.dwqa-question-filter a {
	font-size: 13px;
	padding: 10px 2px 10px 5px;
	}
	.dwqa-question-add-category {
    margin: 33px 17px 10px 10px;
	}
	.popular-head {
    font-size: 36px !important;
	}
	.trending-slider li h3 {
    font-size: 20pt;
	}
}

@media screen and (max-width: 360px) 
{
	.upage .metaboxs li:last-child {
    width: 25%;
	}
	#go-comments a {
	margin-left: 54%;
	}
    .popup-header h2 {
    font-size: 20px;
    }
    .single-osetin_recipe .heateor_sss_sharing_container ul li {
    margin-right: 5px !important;
    }
    .popup-body .collection-items .new-collection input {
    width: 135px!important;
    }
    #crumbs a, #crumbs span {
    font-size: 13px;
    }
    .single-osetin_recipe .main-recipes .side-meta-box ul li.single-meta-likes a {
    font-size: 14px;
    }
	.img-upload-btn {
	height: 70px;
	width: 95%;
	}
	.single-osetin_recipe .side-meta-box ul li.single-meta-likes {
	padding-bottom: 9px !important;
	}
    .m-menu ul li {
	padding: 7px 15px 10px 15px;
	}
    .page-id-35748 .home-mobile-slider, .page-id-35748 .home-mobile-slider li.lslide {
    height: 292px!important;
    }
	.page-id-35748 .trend-home h2 {
	padding-right: 30px;
    padding-left: 30px;
	}
	.home .trend-home h2 {
	padding-right: 10px;
    padding-left: 5px;
	}
    .single-osetin_recipe .main-recipes .side-meta-box ul li button {
    font-size: 14px;
    }
    .user-recipes h2 a {
    font-size: 14px;
    line-height: 10px;
    }
    .page-id-35748 .metaboxs li {
    padding: 0px 3px 0px 3px;
    }
    .upage {
    padding: 5px;
    }
	.upage .metaboxs li span.slide-button-i {
	padding-left: 0px;
	}
	.page-id-35748 .archive-item-views-count-likes a .slide-button-i .osetin-vote-count {
    padding-left: 0px;
	}
    span.tptn_count {
    padding: 0px 5px 0px 5px!important;
    }
    #home-recipe-title {
    font-size: 20pt;
    }
    .archive-posts .read-more-link a, .recipe-meta li .btn{
    padding: 0px 0px 0px 0px!important;
    }
    .archive-item-views-count-likes{
    padding: 2px 0px 0px 0px!important;
    }
    .b3 a img, .b4 a img, .b5 a img {
    height: 86px!important;
    }
    .testi-section h2 {
    font-size: 24px!important;
    }
	.recipe-meta li {
    padding: 13px 22px 15px 21px;
	}
	.recipe-meta li:nth-child(3) {
    width: 27%;
	}
	#srpw_widget-21 div ul li a img {
    height: 110px;
	}
	.weektips ul li img {
    height: 120px;
	}
    .single-osetin_recipe .lSGallery li {
    height: 71px;
    }
    #edit_profile {
    margin-top: 15px;
    }
    #Paris .removepadding{
    margin-left:4px;
    }
    .right-block input.new-collection-name {
    width: 79%;
    }
    .followerstab ul li.active {
    padding: 5px 15px 6px 15px;
    }
    #follower-tab .item, #following-tab .item {
    max-width: 141px;
    min-width: 141px;
    }
    .profile-logo-header img {
    max-width: 233px;
    }
    .profile-menu .tab button {
    font-size: 14px;
    }
    .mobile-qa .tab li {
    padding: 10px 0px 10px 12px;
    }
    #p-publish {
    top: 10%;
    }
    .mobile-qa .count-flowr li a {
    font-size: 18px;
    }
    .page-template-page-myprofile .srpw-modern-style .srpw-content .srpw-title {
    font-size: 15px !important;
    }
    .profilerecipes li:nth-child(2) {
    display:none;
    }
    .m-menu ul li a {
    font-size: 15px !important;
    }
    .home-vd-contents h3 {
    font-size: 26pt;
    }
    .upload-image-section {
    padding: 11px 20px 0px 0px !important;
    }
	.dwqa-question-filter a {
	font-size: 13px;
	}
	.dwqa-search {
    width: 91%;
    top: -23%;
	}
	.page-id-35748 .popup-body .collection-items .new-collection input {
    width: 131px!important;
	}	
}

@media screen and (max-width: 320px)
{
    .single-osetin_recipe #image-gallery li img {
    max-height: 200px;
    min-height: 200px;
    }
    .upload-image-section {
    padding: 11px 31px 0px 0px !important;
    height: 72px;
    }
    .single-osetin_recipe .main-recipes .side-meta-box ul li button {
    font-size: 13px;
    }
    #crumbs a, #crumbs span {
    padding: 3px 0px 0 12px;
    }
    #crumbs a, #crumbs span {
    font-size: 12px;
    }
    .img-upload-btn {
    height: 60px;
    }
    .ingredient-serves-label {
    font-size: 15px;
    }
    .popup-body .collection-items .new-collection input {
    width: 110px!important;
    }
    .checkList_item span {
    font-size: 12px;
    }
    .favErrorMsg {
    font-size: 12px;
    }
    form#myfavform {
    height: 375px !important;
    }
    .single-ingredients {
    padding: 10px 0px 0px 15px;
    }
    .popup-header h2 {
    font-size: 16px;
    }
    .single-osetin_recipe .heateor_sss_sharing_container ul li {
    margin-right: 0px !important;
    }
    .page-id-35748 .home-mobile-slider, .page-id-35748 .home-mobile-slider li.lslide {
    height: 235px!important;
    }
    .community-mobile-view .slider-extra h2 {
    font-size: 20px;
    }
    .page-id-35748 .metaboxs li {
    padding: 0px 5px 0px 5px;
    }
	.upage .metaboxs li:nth-child(2) {
    width: 27%;
	}
	.upage .metaboxs li:last-child {
    width: 22%;
    padding-left: 7px;
	}
	.page-id-35748 .metaboxs li .archive-item-views-count-likes a .slide-button-i .osetin-vote-count {
    display: none;
	}
    .single-osetin_recipe .lSGallery li {
    height: 61px;
    }
    .mobilelogin ul li a {
    font-size: 12px;
    }
    .recipe-meta li .btn {
    font-size: 10pt;
    }
    .archive-item-views-count-likes a .slide-button-label {
    font-size: 10pt !important;
    }
    .recipe-meta li .btn {
    padding: 0px 0px 0px 0px;
    }
    .archive-item-views-count-likes {
    padding: 1px 0px 0px 0px;
    }
    .trend-home h2 b {
    font-size: 32px;
    }
    .homemain .masonry-item .osetin-vote-has-voted .slide-button-i i, .homemain .masonry-item .osetin-vote-not-voted .slide-button-i i {
    line-height: 23px;
    margin-left: 2px;
    width: 12px;
    height: 16px;
    font-size: 8pt !important;
    }
    .home-post ul li .srpw-content a, .home-post ul li .srpw-meta, .home-post ul li .srpw-summary p {
    font-size: 15px;
    line-height: 18px;
    }
    .home-vd-contents h3 {
    font-size: 23pt;
    }
    .home-post ul li .srpw-content .srpw-summary p {
    height: 145px;
    overflow: hidden;
    }
    .testimonial_rotator_quote {
    padding-left: 0px;
    padding-right: 0px;
    }
    .b3 a img, .b4 a img, .b5 a img {
    height: 75px!important;
    }
    .trend-home h2 {
    font-size: 26px !important;
    }
    .testi-section h2 b {
    font-size: 24px;
    }
    .testi-section h2{
    font-size: 20px;
    }
    #home-recipe-title {
    font-size: 17pt;
    }
    .tipshead h1 {
    font-size: 24px;
    padding-left: 0px;
    }
	.recipe-meta li:nth-child(3) {
    padding: 7px 0px 0px 12px;
    height: 39px;
	}
    .mobile-profile-menu ul li button img, .mobile-profile-menu ul li a img{
    max-width: 30px;
    min-width: 30px;
    }
	.mobile-profile-menu ul {
	padding: 10px 25px 5px 0px;
	}
	.mobilehomelatest h3 {
    font-size: 36px;
	}
    .breadcrumb-container.theme5 a {
    font-size: 12px !important;
    }
	.recipe-meta li:nth-child(2) {
    padding-bottom: 12px;
	}
    .right-block input.new-collection-name {
    width: 75%;
    }
    #follower-tab .item, #following-tab .item {
    max-width: 132px;
    min-width: 132px;;
    }
    .followerstab ul li a {
    font-size: 22px;
    }
    .followerstab ul li.active a {
    font-size: 22px;
    }
    .inbox-messaging li p {
    min-width: 80%;
    max-width: 80%;
    }
    .profile-logo-header img {
    max-width: 195px;
    padding: 6px 12px 0px 0px;
    }
    .search-user-box .auto-complete button {
    margin-right: -14px;
    }
    #p-publish {
    top: 10%;
    }
    .profile-menu .tab button {
    font-size: 12px;
    }
    .page-template-page-myprofile .srpw-modern-style .srpw-content .srpw-title {
    font-size: 14px !important;
    line-height: 20px;
    }
	.recipe-new-post-title p, .story-new-post-title p {
	font-size: 14px;
	}
    .mobile-qa .count-flowr li a {
    font-size: 16px;
    }
    .saved-collection article .archive-item-content .metaul .author-name a {
    font-size: 11px;
    }
    .saved-collection .entry-title a {
    font-size: 15px;
    }
	.m-menu ul li {
	padding: 5px 10px 5px 10px;
	}
    .m-menu ul li a {
    font-size: 15px;
    }
	.community-mobile-view .home-mobile-slider li img {
    height: 230px;
	}
	#go-comments a {
	margin-left: 51%;
	width: 132px;
	}
	.dwqa-question-add-category {
    margin: 33px 10px 10px 10px;
	}
	.dwqa-search {
	width: 92%;
	top: -21%;
	}
	#submitqa {
	width: 100%;
	}
	.dwqa-question-filter a {
	font-size: 13px;
	padding: 10px 2px 10px 5px;
	}
	.popular-head {
    font-size: 30px !important;
	}
	.trending-slider li h3 {
    font-size: 18pt;
	}
	#crumbs a, #crumbs span {
    padding: 3px 0px 0 3px;
	}
	.page-id-35748 .popup-body .collection-items .new-collection input {
    width: 106px!important;
	}
	.main-footer .menu li a {
    font-size: 12px;
	}
	.related-recipes li img {
    height: 80px;
	}
	.related-recipes li {
    height: 80px;
    margin-right: 3px;
	}
	.page-template-page-myprofile button#responsive-menu-button {
    height: 44px;
	}
	.page-template-page-myprofile .section-topbar {
    height: 40px;
	}
	.single-dwqa-question .page-title {
    font-size: 24px !important;
	}
	.m-menu {
    height: 34px;
	}
	.single-osetin_recipe .top-bar {
    margin-top: 33px;
	}
	.single-osetin_recipe .side-meta-box ul li.single-meta-likes {
    padding-bottom: 8px !important;
	}
	.modal-title {
    font-size: 20px;
	}
	.home .main-header-part {
    height: 85px;
	}
	#srpw_widget-21 div ul li a img, .weektips ul li img  {
    height: 100px;
	}
	.circle-visible {
    max-width: 40%;
    min-width: 40%;
	}
}