.article {
margin-right: 16px;
margin-bottom: 6px;
background-color: #ffffff;
}

.article__hero {
height: 206px;
width:100%;
background-size: cover;
background-repeat: no-repeat;
padding: 41px 16px 16px;
}

.article__title {
display: -webkit-box;
display: -ms-flexbox;
display: inline-flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
padding: 12px 36px;
background-color: #97C4B8;
color: #FFFFFF;
}

.article__title h2 {
margin: 0;
font-family: Cocogoose, serif;
font-size: 30px;
font-weight: bold;
letter-spacing: 0;
color: #FFFFFF;
}

.article__content {
padding: 9px 16px 16px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}

.article__content p {
font-size: 11px;
line-height: 20px;
letter-spacing: 0;
color: #585756;
}

.article__link {
margin: 10px auto;
display:inline-block;
border: solid 1px #97C4B8;
padding: 4px 10px;
min-width: 121px;
text-align: center;
font-weight: bold;
font-size: 11px;
letter-spacing: 0;
color: #FFFFFF;
background-color: #97C4B8;
-webkit-transition: all .5s ease;
transition: all .5s ease;
}

.article__link:hover {
color: #97C4B8;
background-color: #fff;
}

@media only screen and (max-width: 1240px) {
.article__hero {
max-width:100%;
width: 66.5vw;
height: 16.6vw;
}
}

@media only screen and (max-width: 991px) {
.article__title h2 {
font-size: 25px;
}
}

@media only screen and (max-width: 767px) {
.page-w.with-sidebar .page-sidebar {display: none;}
.article__hero {

width: 92.7vw;
height: 23.2vw;
}

.article__title h2 {
font-size: 20px;
}
}

@media only screen and (max-width: 576px) {
.article__title h2 {
font-size: 16px;
}
}

.page-id-38246  h1 {
font-family: 'Cocogoose', sans-serif;
font-size: 30px;
line-height: 43px;
margin: 0;
}
.page-id-38246  h2 {
font-family: 'Bison', sans-serif;
font-size: 22px;
font-weight: bold;
line-height: 26px;
letter-spacing: 0;
font-weight: 300;
margin:0
}


.page-id-38246 p {
margin: 0;
} 
.page-id-38246 .hero {
max-width: 1240px;
margin: 0 auto;
height: 46vw;
max-height: 308px;
min-height: 200px;
background-repeat: no-repeat;
background-size: cover;
background-position: center 60%;
position: relative;
}


@media only screen and (max-width: 575px) {
.page-id-38246 .hero {
background-size: 700px;
background-position: 10% 60%;
}
}

.page-id-38246 .hero__title {
text-align: center;
color: #ffffff;
position: absolute;
bottom: 30px;
background-color: #97C4B8;
padding: 12px 36px;
}

@media only screen and (max-width: 575px) {
.page-id-38246 .hero__title {
left: 50%;
-webkit-transform: translate(-50%, 0);
transform: translate(-50%, 0);
padding: 8px 27px;
min-width: 240px;
}
}

.page-id-38246 .hero__title h1 {
color: #ffffff;
}

.page-id-38246 .main__content {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
background-color: #F7F6F4;
padding: 30px 20px 0 20px;
}

.page-id-38246 .main__text {
margin-bottom: 30px;
max-width: 595px;
color: #585756;
}

.page-id-38246 .main__text p{
font-size:11px;
line-height:20px;
}



@media only screen and (max-width: 575px) {
.page-id-38246 .main__text {
max-width: 100%;
text-align: center;
margin-right: auto;
margin-left: auto;
}
}

.page-id-38246  h1.main__title  {
color: #707070;
margin-bottom: 10px;
}

.page-id-38246 .menu-box {
margin-right: 20px;
margin-bottom: 20px;
}
.page-id-38246 .menu-box__title {
background-color:#97C4B8;
padding: 20px 20px 20px 50px;
color: #ffffff;
}
.page-id-38246 .menu-box__title h1{
color: #ffffff;
}

.page-id-38246 .recipe__subtytle {
text-transform: uppercase;
color: #585756;
}

.page-id-38246  .recipe-box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
background-color: #DEECE9;
}

.page-id-38246  .recipe__content {
padding: 20px 20px 20px 30px;
}

.page-id-38246  .recipe__top {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
justify-content: space-between;
margin-bottom: 10px
}

.page-id-38246  .recipe__icons {
display: -webkit-box;
display: -ms-flexbox;
display: flex;  
align-items: flex-start;
justify-content: flex-end;    
min-width: 50%;      
}

.page-id-38246  .recipe__icon {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-left: 10px;
font-size:11px;
line-height:20px;
}

.page-id-38246  .recipe__img {
background-color: #DEECE9;
max-width:40%
min-width: 309px;
}

.page-id-38246 .recipe__content {
min-width: 55%;
background-color: #DEECE9;
}

.page-id-38246 .recipe__text {
max-width: 300px
}

.page-id-38246 .recipe__text p {
font-size:11px;
line-height:20px;
}

.page-id-38246 .recipe__subtytle {
max-width: 600px;
}

.page-id-38246  .groceries {
margin-right: 20px;
margin-bottom: 20px;
background-color: #DEECE9;
padding: 20px 30px 40px;
position: relative;
}

.page-id-38246  .groceries__list {
list-style: none;
-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
font-size:11px;
line-height:20px;
}

.page-id-38246  .groceries__list{
padding-right: 20px;
}

.page-id-38246  .btn {
display: inline-block;
min-width: 70px;
padding: 5px;
background-color: #97C4B8;
color: #ffffff;
text-align: center;
font-weight: bold;
font-size: 11px;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;

position: absolute;
bottom:20px;
right:50px;
}

.page-id-38246 a.btn:hover {
opacity: 0.6;
color: #ffffff;
}

@media only screen and (max-width: 991px) {
.page-id-38246 .recipe-box {
flex-direction: column;
}

.page-id-38246 .page-w.with-sidebar .page-content {
padding-top: 0;
}

.page-id-38246 .main__content {
padding-left:40px;
}

.page-id-38246 .recipe__text {
max-width:100%
}
}

@media only screen and (max-width: 575px) {
.page-id-38246  h1 {
font-size: 22px;
line-height: 40px;
margin: 0 auto 10px;
}


.page-id-38246 .main__content {
padding-left: 20px;
background-color: #ffffff;
}

.page-id-38246 .page-w {
padding: 0 !important;
}

.page-id-38246 .menu-box {
text-align: center;
margin-right: 0;
}

.page-id-38246 .recipe__icons {
display: none;
}

.page-id-38246 .menu-box__title {
padding: 15px
}

.page-id-38246 .groceries {
text-align: center;
margin-right: 0;
}

.page-id-38246  .groceries__list {
-moz-column-count: 1;
-webkit-column-count: 1;
column-count: 1;
padding:10px;
}

.page-id-38246 .btn {
right: 50%;
transform: translate(50%, 0)
}
.page-id-38246 .page-content{
background-color: #ffffff;
}
}
