/*
Theme Name: Kookmutsjes Theme 2019
Theme URI: https://kookmutsjes.com
Author: Serhii Klenachov
Template: neptune-by-osetin
Description: Kookmutsjes.com
Version: 1.0.0
License:
License URI:
Tags:
Text Domain: neptune-child
*/


@import url('css/pages.css');
@import url('css/login.css');
@import url('css/profile.css');
@import url('css/responsive.css');

@font-face {
font-family:"Bison Bold";
src:url("fonts/Bison-Bold_PersonalUse_.eot?") format("eot"),url("fonts/Bison-Bold_PersonalUse_.woff") format("woff"),url("fonts/Bison-Bold_PersonalUse_.ttf") format("truetype"),url("fonts/Bison-Bold_PersonalUse_.svg#Bison-Bold") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Cocogoose";
src:url("fonts/Cocogoose Pro-trial.ttf"),url("fonts/Cocogoose Pro-trial.ttf");
}

@font-face {
font-family:"Beautiful Heart";
src:url("fonts/Beautiful Heart.ttf"),url("fonts/Beautiful Heart.ttf");
}
@font-face {
font-family:"NewsCycle-Regular";
src:url("fonts/NewsCycle-Regular.ttf"),url("fonts/NewsCycle-Regular.ttf");
}
@font-face {
font-family: 'new_ciclefina';
src: url('fonts/New_Cicle_Fina-webfont.eot');
src: url('fonts/New_Cicle_Fina-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/New_Cicle_Fina-webfont.woff') format('woff'),
url('fonts/New_Cicle_Fina-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans', sans-serif;
src:url("fonts/OpenSans-Regular.ttf"),url("fonts/OpenSans-Semibold.ttf");
}

body{
font-family:"NewsCycle-Regular";
color: #585756!important;
letter-spacing:0.3px;
}
a{
text-decoration:none !important;
}