/**
* Styles for Bakvorm Popup
* @author Serhii Klenachov <serhii.klenachov@gmail.com>
*/
.main-recipes .recipe-fields .side-meta-box > ul > li:first-child {
    cursor: pointer;
}

.baking-mold-popup {
    display: none;
    position: fixed;
    overflow: hidden;
    width: 100%;
    min-height: 430px;
    z-index: 999997;
    top: 0%;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 0px;
    padding-bottom: 30px;
    height: 100vh;
}

.baking-mold-popup_inner {
    max-width: 600px;
    min-width: 600px;
    margin: 35px auto;
    background: #E9F4F1;
    padding: 0px 1px 50px 1px;
}

.baking-mold-popup.opened {
    display: block;
}

.bmp-page_child {
    display: none;
}

.bmp-page_child.shown {
    display: block;
}

.baking-mold-popup-close_block {
    text-align: right;
}

#baking-mold-popup-close_btn {
    background-color: transparent;
    border: none;
    font-size: 25px;
    line-height: 25px;
    padding: 5px;
    color: #99ccbe;
    transition: all 0.5s;
}

#baking-mold-popup-close_btn:hover {
    color: #838383;
}

#baking-mold-popup-close_btn:focus {
    outline: none;
}

.bmp-page_main-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
    font-family: "Bison Bold";
}

.bmp-page_main-variant {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

.bmp-page_main-variant.active #baking-mold-type-cir,
.bmp-page_main-variant.active #baking-mold-type-rec {
    background: #B3D8CE;
    border: 2px solid #458775;
}

.bmp-page_main-variant.active p {
    font-weight: bold;
}

#baking-mold-type-cir {
    border-radius: 100px;
    border: 2px solid transparent;
}

#baking-mold-type-rec {
    border: 2px solid transparent;
}

#baking-mold-type-cir:after {
    content: "";
    width: 1px;
    height: 120px;
    background: #cce5df;
    position: absolute;
    top: 155px;
    margin-left: 94px;
}

.bmp-page_main-variants {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bmp-page_main-variant p {
    text-align: center;
    color: #444444;
    letter-spacing: 0.5px !important;
}

.baking-mold-type-button {
    background-color: #B3D8CE;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0px;
    height: 120px;
    color: #B3D8CE;
    transition: all 0.5s;
}

.baking-mold-type-button:focus {
    outline: none;
}

.bmp-page-size_block {
    padding-top: 15px;
}

.bmp-page-size_block .input-container {
    text-align: center;
}

.bmp-page-size_block .input-container label {
    font-family: "NewsCycle-Regular";
    font-weight: bold;
    font-size: 15px;
    min-width: 50px;
    color: #444444;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    padding-left: 4px;
    padding-right: 2px;
}

.bmp-page-size_block .input-container input[type="text"] {
    font-family: "NewsCycle-Regular";
    letter-spacing: 0.5px;
    font-size: 12px;
    border: none;
    width: 50px;
    text-align: center;
    padding: 3px;
    height: 22px;
}

.bmp-page-size_block .input-container input[type="text"]:focus {
    outline: none;
}

.baking-mold-size-unit {
    display: inline-block;
    padding: 0 5px;
}

.bmp-page-size_block .button-container,
.bmp-reset-button-container {
    text-align: center;
    padding-top: 0px;
    width: 100%;
    overflow: hidden;
}

.baking-mold-apply-size {
    width: 140px;
    background: #C2E2D9;
    padding: 13px 25px 14px 25px;
    font-family: "NewsCycle-Regular";
    font-size: 13px;
    line-height: 12px;
    color: #444;
    border-radius: 0px;
    letter-spacing: 0.5px;
    border: none;
    text-transform: uppercase;
    transition: all 0.5s;
    font-weight: 600;
}

.baking-mold-apply-size:focus {
    outline: none;
}

.baking-mold-apply-size:hover {
    background: #B3D8CE;
}

.bmp-page_child {
    padding: 10px 15px;
}

.baking-mold-current {
    text-align: center;
    margin-bottom: 10px;
}

.rec-input {
    max-width: 50%;
    min-width: 50%;
    float: left;
}

.input-box {
    float: right;
}

.input-boxs {
    float: left;
}

@media (max-width: 767px) {
    .baking-mold-popup {
        width: 100%;
        margin: 0;
        left: auto;
        overflow: scroll;
    }
}


@media (max-width: 649px) {
    .baking-mold-popup_inner {
        min-width: 0;
        max-width: 98%;
    }
}
