/**
* Styles for Recipes Board Page
*/

.rb-container {
width: 100%;
max-width: 100%;
}

.rb-row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.bordered-padding {
background: #fafafa;
padding: 10px;
}

.bordered-margin-t-b {
margin: 10px 0;
}

.bordered-margin-t {
margin-top: 10px;
}

.bordered-margin-b {
margin-bottom: 10px;
}

.rb-wrapper {
padding-right: 0px;
}

.rb-sidebar {
padding-left: 0;
background-color: #C4D4D3;
}

.rb-main {
padding: 0 0 10px 0;
background-color: #C4D4D3;
}

.rb-top-search-row {
padding: 10px 0;
background-color: #ffffff;
}

.rb-ajax-search_block {
padding: 3px;
background-color: #C4D4D3;
}

.rb-ajax-search_block > div.asp_w.ajaxsearchpro {
padding: 5px;
}

.rb-categories-list {
padding: 0 0 0 10px;
background: #fafafa;
}

.rb-category-child_block,
.rb-category-parent_inner {
padding: 10px 15px 10px 15px;
}

.rb-category-patent_block {
border-bottom: 1px solid #EDEDED;
}

.rb-category-patent_title {
font-size: 14px;
color: #585756;
letter-spacing: 0.3px;
font-family: "NewsCycle-Regular";
transition: all .5s;
cursor: pointer;
padding: 10px 15px 10px 15px;
}

.rb-category-patent_title[aria-expanded="true"] {
background-color: #C4D4D3;
border-top-left-radius: 5px;
color: #ffffff;
}

.rb-category-parent_inner {
background-color: #E8E8E8;
}

.rb-category-child_title {
color: #585756;
font-family: "NewsCycle-Regular";
font-size: 14px;
vertical-align: middle;
padding-left: 7px;
cursor: pointer;
}

.rb-categories-list > .rb-category-child_block {
border-bottom: 1px solid #EDEDED;
}

.rb-categories-list > .rb-category-child_block:last-child {
border-bottom: none;
}


.rb-category-patent_title .rb-category-patent_icon {
color: #ffffff;
}

.rb-category-patent_title[aria-expanded="false"] .rb-category-patent_icon {
transition: all .5s;
-moz-transform: none;
-webkit-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
visibility: hidden;
}

.rb-category-patent_title[aria-expanded="true"] .rb-category-patent_icon {
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
transition: all .5s;
visibility: visible;
}

.rb-category-child_inner .form-check-input[type="checkbox"] {
position: relative;
margin: 0;
cursor: pointer;
}

.rb-title_block h1.rb-title {
margin: 0;
padding: 0;
font-size: 25px;
color: #ffffff;
font-family: "NewsCycle-Regular";
}

@media (min-width: 768px) and (max-width: 991px) {
.rb-category-patent_title {
font-size: 13px;
padding-left: 5px;
}

.rb-category-child_block, .rb-category-parent_inner {
padding: 10px 5px 10px 5px;
}

.rb-category-child_title {
padding-left: 3px;
font-size: 12px;
}
}

@media (max-width: 767px) {
.rb-wrapper {
padding: 10px;
background-color: #ffffff;
}

.rb-sidebar {
padding-left: 0;
padding-right: 0;
margin-bottom: 10px;
}
}

.rb-nav-links {
display: flex;
flex-direction: row;
padding: 5px;
margin-top: 10px;
}

.rb-nav-links .page-numbers {
display: inline-block;
padding: 10px 15px;
background-color: #ffffff;
color: #585756;
font-size: 14px;
line-height: 16px;
font-family: "NewsCycle-Regular";
}

.rb-nav-links .page-numbers + .page-numbers,
.rb-nav-links .page-numbers:first-child {
margin-right: 5px;
}

.rb-nav-links .page-numbers:last-child {
margin: 0;
}

.rb-mobile-categories-btn_block {
display: none;
}

@media (max-width: 767px) {
.rb-mobile-categories-btn_block {
display: block;
background-color: #fafafa;
}

.rb-mobile-hidden {
display: none;
}
}

@media (min-width: 768px) {
.rb-categories-list.rb-mobile-hidden {
display: block !important;
}
}

#rb-mobile-categories-btn {
width: 100%;
padding: 10px;
background-color: #C4D4D3;
border: 0;
color: #ffffff;
letter-spacing: 1px;
font-family: "NewsCycle-Regular";
font-size: 18px;
outline: none;
border-radius: 10px;
}

#rb-mobile-categories-btn i {
font-size: 20px;
}

#rb-mobile-categories-btn:focus {
outline: none;
}

#rb-mobile-categories-btn.rb-btn-open .fa-caret-right,
#rb-mobile-categories-btn:not(.rb-btn-open) .fa-caret-left {
display: none;
}

.rb-sort_block {
margin-bottom: 20px;
}

#rb-sort-select {
outline: none;
line-height: 25px;
color: #5D5C5B;
font-size: 14px;
letter-spacing: 1px;
background-color: #ffffff;
border: none;
border-radius: 0;
cursor: pointer;
height: 28px;
min-width: 150px;
}

#rb-sort-select:focus {
outline: none;
}

.rb-header-wrapper {
margin-bottom: 10px;
padding: 15px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
}

.rb-header-wrapper-right {
flex: 1;
display: flex;
flex-wrap: wrap;
flex-direction: column;
padding-right: 20px;
}

.rb-header-wrapper-left {
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.rb-view-button {
background-color: transparent;
padding: 3px 15px 3px 15px;
margin-right: 5px;
color: #5D5C5B;
font-size: 14px;
border: 1px solid transparent;
border-radius: 25px;
outline: none;
}

.rb-view-button_text {
padding-left: 5px;
}

.rb-view-button:hover {
border: 1px solid #F1F9F7;
}

.rb-view-button:focus {
outline: none;
}

.rb-view-button.active {
border: 1px solid transparent;
background-color: #ffffff;
color: #5D5C5B;
}

/* == RB Item Components == */
/* == Grid View - main view == */
.rb-items {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.rb-item {
width: 33.33%;
padding: 5px;
}

.rb-item-i {
height: 100%;
background-color: #ffffff;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
padding: 10px;
justify-content: space-between;
}

.rb-item-first-row-info {
flex: 1;
display: flex;
flex-direction: column;
}

.rb-item-media_block .rb-item-media {
position: relative;
width: 100%;
padding-top: 75%;
}

.rb-item-media_block .rb-item-media > a {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
display: block;
}

.rb-item-content_block {
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.rb-item-meta {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 10px 0;
}

.rb-item-meta > div {
background-color: #E8E8E8;
display: flex;
align-items: center;
justify-content: center;
color: #585756;
font-family: "NewsCycle-Regular";
font-size: 14px;
transition: all 0.3s ease-in-out;
}

.rb-item-meta > div:hover {
background-color: #f4f1f1;
}

.rb-item-meta > div a,
.rb-item-meta > div button {
color: #585756;
font-family: "NewsCycle-Regular";
font-size: 14px;
padding: 7px 10px;
outline: none;
}

.rb-item-meta > div a:focus,
.rb-item-meta > div button:focus {
outline: none;
}

.rb-item-meta > div span.slide-button-sub-label.osetin-vote-count {
color: #585756 !important;
font-family: "NewsCycle-Regular" !important;
font-size: 14px !important;
}

.rb-item-meta .rb-item-rating-and-read-more {
width: 33.33%;
background-color: #d9e9e5;
}

.rb-item-meta .rb-item-rating-and-read-more:hover {
background-color: #aed0c8;
}

.rb-item-meta .rb-item-favorite {
width: 33.33%;
border-right: 1px solid #999999;
border-left: 1px solid #999999;
}

.rb-item-meta .rb-item-views-count-likes {
width: 33.33%;
}

.rb-item-meta .rb-item-views-count-likes .slide-button-label,
.rb-item-meta .rb-item-views-count-likes .slide-button-sub-label {
display: none;
}

.rb-item-title {
margin: 0px;
line-height: 30px;
padding: 10px 0 0;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.rb-item-title > a {
text-transform: uppercase;
font-size: 30px;
color: #5e5e5e;
font-family: "Bison Bold";
}

.rb-item-post-info,
.rb-item-author-meta {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 5px 0;
align-items: baseline;
}

.rb-item-post-info .date-comment,
.rb-item-post-info .rb-item-comments,
.rb-item-author-meta .date-comment,
.rb-item-author-meta .rb-item-comments {
display: flex;
margin-bottom: 5px;
}

.rb-item-post-info .date-comment .rb-item-date-posted,
.rb-item-post-info .rb-item-comments a,
.rb-item-author-meta .date-comment .rb-item-date-posted,
.rb-item-author-meta .rb-item-comments a {
color: #8f8f8f;
font-size: 12px;
}

.rb-item-post-info .date-comment,
.rb-item-author-meta .date-comment {
padding-right: 5px;
}

.rb-item-post-info .rb-item-comments,
.rb-item-author-meta .rb-item-comments {
padding-left: 5px;
}

.rb-item-post-info .rb-item-post-info-author {
width: 100%;
}

.rb-item-recipe-info_block {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.rb-item-recipe-info_block .rb-item-recipe-info-i {
text-align: center;
padding: 10px;
width: 100%;
background-color: #d9e9e5;
}

.rb-item-recipe-info_block .rb-item-recipe-info-i_title {
margin-bottom: 5px;
font-size: 20px;
color: #5e5e5e;
font-family: "Bison Bold";
}

.rb-item-content-text,
.rb-item-mobile-only-description_block {
padding-bottom: 5px;
overflow: hidden;
height: 88px;
}

/* hide elements for list */
.rb-items:not(.rb-items-grid-view) .rb-item-media-buttons_block,
.rb-items:not(.rb-items-grid-view) .rb-item-header .rb-item-post-info .date-comment,
.rb-items:not(.rb-items-grid-view) .rb-item-header .rb-item-post-info .rb-item-comments,
.rb-items:not(.rb-items-grid-view) .rb-item-recipe-info_block,
.rb-items:not(.rb-items-grid-view) .rb-item-mobile-only-description_block {
display: none;
}

@media (max-width: 1023px) {
.rb-item {
width: 50%;
}
}

@media (max-width: 500px) {
.rb-item {
width: 100%;
}
}

/* == List View == */
.rb-items.rb-items-grid-view .rb-item {
width: 100%;
}

.rb-items.rb-items-grid-view .rb-item-first-row-info {
flex-direction: row;
}

.rb-items.rb-items-grid-view .rb-item-content_block {
padding: 0 15px;
justify-content: flex-start;
flex: 1;
}

@media (max-width: 1023px) {
.rb-items.rb-items-grid-view .rb-item-media_block {
flex: 1;
}

.rb-items.rb-items-grid-view .rb-item-media > a {
background-position: center center;
}
}

.rb-items.rb-items-grid-view .rb-item .rb-item-content,
.rb-items.rb-items-grid-view .rb-item .rb-item-mobile-only-description_block,
.rb-items.rb-items-grid-view .rb-item-content_block .rb-item-author-meta {
display: none;
}

.rb-items.rb-items-grid-view .rb-item-post-info .rb-item-post-info-author {
width: auto;
padding: 0 10px;
}

.rb-items.rb-items-grid-view .rb-item .rb-item-meta .rb-item-favorite,
.rb-items.rb-items-grid-view .rb-item .rb-item-meta .rb-item-views-count-likes {
background-color: #d9e9e5;
}
.rb-items.rb-items-grid-view .rb-item .rb-item-meta .rb-item-favorite {
border-right-color: #707070;
border-left-color: #707070;
}

#rb-category-mobile-menu-close-btn .rb-category-patent_icon {
color: #585756;
}

.rb-tag-select-button .rb-tags_selector-button .select2-container--default .select2-results__option--highlighted[aria-selected] {
background-color: #C4D4D3;
}

.rb-items .rb-item  .osetin-vote-not-voted .slide-button-i i,
.rb-items .rb-item  .osetin-vote-has-voted .slide-button-i i {
margin-left: 0;
width: auto;
}

.rb-items:not(.rb-items-grid-view) .rb-item .rb-item-post-info-author {
display: none;
}

@media (max-width: 574px) {
.rb-items.rb-items-grid-view .rb-item-first-row-info {
flex-wrap: wrap;
}

.rb-items.rb-items-grid-view .rb-item-first-row-info .rb-item-meta {
display: none;
}

.rb-items.rb-items-grid-view .rb-item-media_block {
flex: auto;
order: 2;
width: 70%;
}

.rb-items.rb-items-grid-view .rb-item-content_block {
flex: auto;
order: 1;
width: 100%;
padding: 0;
}

.rb-items.rb-items-grid-view .rb-item-title {
text-align: left;
}

.rb-items.rb-items-grid-view .rb-item-post-info {
justify-content: center;
padding: 5px 0 10px;
}

.rb-items.rb-items-grid-view .rb-item-content-text {
display: none;
}

.rb-items.rb-items-grid-view .rb-item-recipe-info_block {
order: 3;
flex: none;
width: 24%;
padding: 0 0 0 5px;
}

.rb-items.rb-items-grid-view .rb-item-recipe-info_block .rb-item-recipe-info-i {
flex: 1;
padding: 2px;
}

.rb-items .rb-item-recipe-info_block .rb-item-recipe-info-i_value {
min-height: 22px;
}

.rb-items.rb-items-grid-view .rb-item .rb-item-mobile-only-description_block {
padding: 15px 0 10px;
display: initial;
}

.rb-items.rb-items-grid-view .rb-item .rb-item-content {
display: initial;
}
}

@media (max-width: 359px) {
.rb-items.rb-items-grid-view .rb-item-first-row-info {
flex-direction: column;
flex-wrap: wrap;
}

.rb-items.rb-items-grid-view .rb-item-media_block {
order: 2;
width: 100%;
}

.rb-items.rb-items-grid-view .rb-item-recipe-info_block {
width: 100%;
flex-direction: row;
padding: 0;
}
}

@media (min-width: 1024px) {
.rb-items.rb-items-grid-view .rb-item .rb-item-media_block {
width: 33.33%;
}
}


/* == Side Nav == */
.rb-category-mobile-menu-title {
display: none;
}

@media (max-width: 767px) {
.rb-sidenav {
height: 100%;
width: 50%;
margin-left: -100%;
position: fixed;
z-index: 1000000;
top: 0;
left: 0;
overflow: hidden;
padding: 0;
transition: 0.5s;
}

.rb-sidenav.rb-sidenav-desktop {
width: 100%;
}

.rb-sidenav.rb-btn-open {
transition: 0.5s;
overflow-y: auto;
padding: 10px;
}

.rb-sidenav .rb-category-mobile-menu-title {
display: initial;
}

#rb-category-mobile-menu-close-btn {
font-size: 22px;
}

.rb-container {
transition: margin-left .5s;
}

.page-template-recipes-board .all-wrapper {
width: 100%;
transition: margin-left .5s;
}
}

@media (min-width: 768px) {
.rb-sidenav {
width: 100% !important;
margin-left: 0 !important;
}
}

@media (max-width: 767px) {
#rb-sort-select {
padding: 2.5px 10px;
}

.rb-sort_block {
text-align: center;
}

.rb-view-button {
margin-bottom: 5px;
}
}

.rb-tags_apply_box {
padding-left: 10px;
}

#rb-tags_button-apply {
padding: 3px 15px 3px 15px;
font-size: 18px;
outline: none;
border: 2px solid #ffffff;
background-color: #ffffff;
color: #888686;
}

.rb-tags_button-apply_text {
padding: 0 5px;
}

.rb-search-tags_block {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-end;
width: 100%;
position: relative;
}

.rb-tags_selector-button .select2-container {
min-width: 200px;
}

.rb-tags_selector-button .select2-container--default .select2-selection--single {
background: #ffffff !important;
height: 35px !important;
border-radius: 0;
}

.rb-tags_selector-button .select2-container--default .select2-selection--single .select2-selection__rendered {
line-height: 35px !important;
}

.rb-tags_selector-button .select2-container--default .select2-selection--single .select2-selection__arrow {
/*height: 35px !important;
width: 35px !important;
right: 0;*/
display: none;
}

.rb-tags_selected-box {
flex: 1;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
padding-top: 15px;
}

.rb-tag-item {
padding: 10px 15px 10px 15px;
font-size: 14px;
line-height: 14px;
outline: none;
background-color: #ffffff;
color: #5D5C5B;
margin: 2px 5px;
border: 1px solid #707070;
border-radius: 25px;
}

.rb-tag-item_close-button {
width: 15px;
height: 15px;
line-height: 12px;
font-size: 10px;
background-color: transparent;
border: 1px solid #707070;
outline: none;
border-radius: 50%;
margin-left: 5px;
}

.rb-no-posts-block {
width: 100%;
padding: 15px;
text-align: left;
background-color: #ffffff;
font-size: 18px;
color: #5D5C5B;
}

.rb-loading-box {
padding: 15px 0;
text-align: center;
}

.rb-loading-box .lds-ellipsis {
display: inline-block;
top: -10px;
}

.rb-tags-loading-box {
position: absolute;
width: 100%;
height: 100%;
display: none;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: rgba(196, 212, 211, 0.75);
}

.rb-tags-loading-box .lds-ellipsis {
display: block;
position: relative;
width: 50px;
top: -7px;
}

.rb-tag-title {
display: flex;
justify-content: center;
align-items: center;
}

.rb-tag-title-text {
font-size: 16px;
color: #ffffff;
font-family: "NewsCycle-Regular";
}
.rb-tag-select-button.rb-closed-ts-btn{
box-shadow:none;
border-radius: 24px !important;
}
.rb-tag-select-button {
display: flex;
flex-direction: row;
align-items: center;
background-color: #ffffff;
color: #5D5C5B;
margin: 2px 5px;
padding: 0 15px;
order: 1;
min-height: 38.5px;
border: none;
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
border-bottom-left-radius: 0px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 0px;
}
.rb-tag-select-button:hover, .rb-tag-select-button:focus{
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
border-color: rgba(223,225,229,0);
outline:none;
}
.page-template-recipes-board  .select2-container--default .select2-results>.select2-results__options {
padding: 0px 5px 10px 5px;
}
.rb-tags-add-tag_button {
background-color: transparent;
border: none;
font-size: 14px;
outline: none;
padding: 5px 10px 5px 10px;
margin-right: 3px;
}
.page-template-recipes-board .select2-dropdown{
width: 264px !important;
margin-left: -49px;
border: none !important;
box-shadow: 0 6px 6px 0 rgba(32,33,36,0.28);
border-bottom-left-radius: 15px;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 15px;
}
.page-template-recipes-board .select2-results__options::-webkit-scrollbar-track{
padding: 5px;
background-color: #d8f3f1;
}
.page-template-recipes-board .select2-container--default .select2-results__option--highlighted[aria-selected]{
background:#C4D4D3 !important;
}
.page-template-recipes-board .select2-results__options::-webkit-scrollbar{
width: 7px;
}
.page-template-recipes-board .select2-results__options::-webkit-scrollbar-thumb{
background-color: #9EC7BD;
}
.rb-tags-add-tag_button:focus {
outline: none;
}

.rb-tag-select-button:not(.rb-closed-ts-btn) .rb-tags-add-tag_button i {
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
transition: all .7s;
}

.rb-tag-select-button.rb-closed-ts-btn .rb-tags-add-tag_button i {
-moz-transform: none;
-webkit-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
transition: all .7s;
}

.rb-tag-select-button.rb-closed-ts-btn .rb-tags_selector-button {
display: none;
opacity: 0;
}

@media (max-width: 767px) {
.rb-sidebar {
background-color: transparent;
}

.rb-mobile-categories-btn_block {
background-color: transparent;
}

.rb-header-wrapper {
flex-direction: column;
}

.rb-header-wrapper-right {
padding: 0;
}

.rb-title_block h1.rb-title {
text-align: center;
}

.rb-tags_selected-box {
flex-direction: row;
justify-content: flex-start;
padding-top: 15px;
}

.rb-tag-title {
display: none;
}

.rb-header-wrapper-left {
flex-direction: row;
justify-content: space-between;
padding-top: 20px;
}

.rb-sort_block {
margin-bottom: 0;
}

}

@media (max-width: 374px) {
.rb-header-wrapper-left {
flex-direction: column;
justify-content: center;
}

.rb-view-select_block {
text-align: center;
padding-top: 15px;
}
}

.rb-tags_selector-button .select2-selection__clear {
display: none;
}

