/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose.woff2") format("woff2"), url("../fonts/Cocogoose.woff") format("woff");
}

@font-face {
  font-family: "Bison";
  font-weight: bold;
  src: url("../fonts/Bison-Bold.woff2") format("woff2"), url("../fonts/Bison-Bold.woff") format("woff");
}

@font-face {
  font-family: "NewsCycle";
  src: url("../fonts/NewsCycle.woff2") format("woff2"), url("../fonts/NewsCycle.woff") format("woff");
}

@font-face {
  font-family: "NewsCycle";
  font-weight: bold;
  src: url("../fonts/NewsCycle-Bold.woff2") format("woff2"), url("../fonts/NewsCycle-Bold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button:not(:disabled) {
  cursor: pointer;
}

button:focus {
  outline: none;
}

body {
  display: block;
  position: relative;
  font-family: "NewsCycle", sans-serif;
  background: #FAFAFA;
  min-width: 320px;
  color: #000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-input-placeholder {
  opacity: 0.7;
}

::-moz-placeholder {
  opacity: 0.7;
}

:-ms-input-placeholder {
  opacity: 0.7;
}

::-ms-input-placeholder {
  opacity: 0.7;
}

::placeholder {
  opacity: 0.7;
}

:-ms-input-placeholder {
  opacity: 0.7;
}

::ms-input-placeholder {
  opacity: 0.7;
}

.main h1, .hero__title h1 {
  font-family: 'Cocogoose', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 43px;
  margin: 0;
}

@media only screen and (max-width: 575px) {
  .main h1 {
    font-size: 22px;
    line-height: 40px;
  }
}

.main h2 {
  font-family: 'Bison', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.main p, .main li {
  font-family: 'NewsCycle', sans-serif;
  font-size: 11px;
  line-height: 20px;
}

.main p {
  min-width: 50%;
}

.title {
  color: #707070;
}

.subtitle {
  color: #707070;
  text-transform: uppercase;
}

.posr {
  position: relative;
}

.tac {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ovh {
  overflow: hidden;
}

.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jcsb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jcsa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.m0 {
  margin: 0 !important;
}

.order-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

@media only screen and (min-width: 576px) {
  .order-first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media only screen and (min-width: 768px) {
  .order-first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media only screen and (min-width: 992px) {
  .order-first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media only screen and (min-width: 1366px) {
  .order-first-xl {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media only screen and (min-width: 1920px) {
  .order-first-xxl {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

.mb-1 {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .mb-1 {
    margin-bottom: 30px;
  }
}

.mb-2 {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .mb-2 {
    margin-bottom: 56px;
  }
}

.mb-3 {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .mb-3 {
    margin-bottom: 80px;
  }
}

.mt-1 {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .mt-1 {
    margin-top: 30px;
  }
}

.mt-2 {
  margin-top: 25px;
}

@media only screen and (min-width: 768px) {
  .mt-2 {
    margin-top: 56px;
  }
}

.mt-3 {
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .mt-3 {
    margin-top: 80px;
  }
}

.pb-1 {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .pb-1 {
    padding-bottom: 30px;
  }
}

.pb-2 {
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .pb-2 {
    padding-bottom: 56px;
  }
}

.pb-3 {
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .pb-3 {
    padding-bottom: 80px;
  }
}

.pt-1 {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .pt-1 {
    padding-top: 30px;
  }
}

.pt-2 {
  padding-top: 25px;
}

@media only screen and (min-width: 768px) {
  .pt-2 {
    padding-top: 56px;
  }
}

.pt-3 {
  padding-top: 50px;
}

@media only screen and (min-width: 768px) {
  .pt-3 {
    padding-top: 80px;
  }
}

.p-1 {
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .p-1 {
    padding: 30px;
  }
}

.p-2 {
  padding: 25px;
}

@media only screen and (min-width: 768px) {
  .p-2 {
    padding: 56px;
  }
}

.p-3 {
  padding: 50px;
}

@media only screen and (min-width: 768px) {
  .p-3 {
    padding: 80px;
  }
}

.preloader {
  display: none;
}

.js .preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}

.hero {
  max-width: 1240px;
  margin: 0 auto;
  height: 46vw;
  max-height: 308px;
  min-height: 200px;
  /*background-image: url("../img/photo-1548940740-204726a19be3.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  position: relative;
}

@media only screen and (max-width: 575px) {
  .hero {
    background-size: 700px;
    background-position: 10% 60%;
  }
}

.hero__title {
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  background-color: #97C4B8;
  padding: 12px 36px;
}

@media only screen and (max-width: 575px) {
  .hero__title {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding: 8px 27px;
    min-width: 240px;
  }
}

.hero__title h1 {
  color: #ffffff;
}

.main .container {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 36px;
}

.breadcrumbs {
  margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
  .breadcrumbs {
    display: none;
  }
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  font-size: 11px;
  line-height: 20px;
  color: #707070;
  padding-right: 5px;
}

/* .breadcrumbs__item:not(:last-child)::after {
  content: " > ";
} */

.breadcrumbs__item a {
  color: #707070;
}

.breadcrumbs__item a:hover {
  color: #97C4B8;
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 30px;
  background-color:#FAFAFA; 
  padding-bottom:30px;
}

.main p {
  margin-bottom: 0;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__text {
  margin-bottom: 30px;
  max-width: 595px;
  color: #585756;
}

@media only screen and (max-width: 575px) {
  .main__text {
    max-width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

h1.main__title  {
  color: #707070;
  margin-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  h1.main__title  {
    font-size: 22px;
    line-height: 40px;
    max-width: 234px;
    margin: 0 auto 10px;
  }
}

.main p {
  max-width: 492px;
}

@media only screen and (max-width: 575px) {
  .main p {
    max-width: 277px;
  }
}

.main__menu {
  margin-left: 87px;
  padding: 10px 20px 20px;
  background-color: #E2EFEC;
  width: 239px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 575px) {
  .main__menu {
    display: none;
  }
}

.menu__box {
  text-align: center;
}

.menu__title {
  color: #585756;
  margin-bottom: 10px;
}

.menu__item {
  margin-bottom: 6px;
  color: #585756;
  font-size: 11px;
  line-height: 20px;
}

.menu__item a {
  color: #585756;
}

.menu__item a:hover {
  color: #97C4B8;
}

.btn-menu {
  display: inline-block;
  min-width: 121px;
  padding: 5px;
  background-color: #97C4B8;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a.btn-menu:hover {
  opacity: 0.6;
  color: #ffffff;
}

a.btn-recipe {
  display: inline-block;
  font-family: Poppins;
  letter-spacing: 1px;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 30px;
  min-width: 170px;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  z-index: 2;
}

a.btn-recipe:hover {
  border: 2px solid #97C4B8;
  color: #97C4B8;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.recipes {
  margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
  .recipes {
    text-align: center;
  }
}

h1.recipes__title {
  color: #707070;
  margin-bottom: 30px;
}

h2.recipes__subtitle  {
  color: #707070;
  margin-bottom: 30px;
}

.recipes__tab {
  display: none;
}

.recipes__tab:first-child {
  display: block;
}

@media only screen and (max-width: 768px) {
  .recipes__tab{
    text-align: center;
  }
}

.recipes-galary {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (max-width: 575px) {
  .recipes-galary {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.recipes-galary__item {
  color: #585756;
  text-align: center;
  cursor: pointer;
}

.recipes-galary__item:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 575px) {
  .recipes-galary__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .recipes-galary__item {
    max-width: 94px;
  }
}

.recipes-galary__item.active {
  font-weight: bold;
}

.recipes-galary__img {
  width: 154px;
  height: 144px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  .recipes-galary__img {
    max-width: 94px;
    max-height: 88px;
  }
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .recipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.recipe__img {
  min-width: 444px;
  min-height: 333px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
}

.recipe__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgb(0,0,0);
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.recipe__img:hover:after {
  opacity: 0.5;
}

.recipe__img:hover a.btn-recipe {
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .recipe__img {
    min-width: 379px;
    min-height: 285px;
  }
}

@media only screen and (max-width: 767px) {
  .recipe__img {
    margin: 0 auto;
    max-width: 503px;
    min-width: 503px;
    min-height: 374px;
  }
}

@media only screen and (max-width: 575px) {
  .recipe__img {
    min-width: 100%;
    min-height: 58vw;
  }
}

.recipe__content {
  max-width: 779px;
  background-color: #ffffff;
  padding: 30px;
  color: #707070;
}

.recipe__content .subtitle {
  margin-bottom: 30px;
}

.recipe__content p {
  max-width: 719px;
  margin-bottom: 30px;
}

.ingredients {
  width: 50%;
  background-color: #DEECE9;
  padding: 26px 30px 9px;
  color: #585756;
}

@media only screen and (max-width: 767px) {
  .ingredients {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .ingredients {
    margin: 0 auto;
    max-width: 503px;
  }
}

@media only screen and (max-width: 575px) {
  .ingredients {
    max-width: 100%;
    padding: 15px;
  }
}

.ingredients__top {
  padding-bottom: 12px;
  border-bottom: solid 1px rgba(112, 112, 112, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ingredients__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-grow: 1;
}

.ingredients__title h2 {
  color: #585756;
  margin-left: 10px;
}

.ingredients__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ingredients__time svg{
  min-width: 9px;
}

.ingredients__time p {
  margin-left: 5px;
  margin-right: 10px;
}

.ingredients__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 575px) {
  .ingredients__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.ingredients__column {
  /*width: 50%;*/
  padding-top: 15px;
  /* padding-right: 15px; */
}

@media only screen and (max-width: 575px) {
  .ingredients__column:last-child {
    padding-top: 0;
  }
}

@media only screen and (max-width: 575px) {
  .ingredients__column {
    width: 100%;
    max-width: 184px;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }
}

.ingredients__item:before {
  content: ' - ';
}

@media only screen and (max-width: 575px) {
  .ingredients__item.headline_left,
  .ingredients__item.headline_right {
    float: none;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.footer {
  background-color: #DEECE9;
  padding: 35px 0;
}

@media only screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 575px) {
  .footer-nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer-nav__item {
  margin-left: 5px;
}

.footer-nav__link {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-nav__link:hover {
  color: #97C4B8;
}

.copyright p {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 575px) {
  .social {
    margin: 20px 0;
  }
}

.social__line {
  width: 100%;
  background-color: rgba(112, 112, 112, 0.11);
  height: 1px;
}

.social__line:last-child {
  display: none;
}

@media only screen and (max-width: 575px) {
  .social__line:last-child {
    display: block;
    margin-left: 21px;
  }
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  margin-left: 21px;
}

.social__icon {
  display: inline-block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #ffffff;
}

.converter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
